/* ШРИФТИ */



@import url("fonts.css");

@import url("https://fonts.cdnfonts.com/css/satoshi");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1;
	color: #535353;
	background-color: #f8f8f8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

.page {
	padding: 20px 16px;
   }


/* --------------------------------------- */

.header {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}


/* ---------page------------ */

.main {
	flex-grow: 1;
}


/* ------most-popular__cards------ */

.most-popular__container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0px 15px;
	font-weight: 600;
	font-size: 20px;
}


.most-popular__caption {
	color: #2b2929;
	font-size: 40px;
	line-height: 1.2;
}


.most-popular__cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
	gap: 30px;
}

.card-most-popular {
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 20px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #E3E2E2;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
	gap: 20px;
	transition: all 0.3s;
}

@media (any-hover: hover) {
   .card-most-popular:hover {
		box-shadow: 1px 1px 8px 3px #c1bfbf;
		transform: scale(1.02);
	}
}


.most-popular__caption-link {
	display: flex;
	gap: 30px;
	align-items: center;
}

.most-popular__caption-link:not(:last-child) {
	margin-bottom: 40px;
}

.most-popular__link {
	color: #ffbc57;
	font-size: 19px;
	line-height: 1.26;
	display: flex;
	gap: 10px;
	transition: color 0.3s;
}

@media (any-hover: hover) {
.most-popular__link:hover {
	color: #f79605;
	}
}

.card-most-popular__image {
	border-radius: 8px;
	overflow: hidden;
	aspect-ratio: 260/220;
}

.card-most-popular__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s;
}

@media (any-hover: hover) {
.card-most-popular__image img:hover {
   transform: scale(1.05);
	}
}

.card-most-popular__content {
	display: grid; 
	grid-template-rows: auto 1fr;
	gap: 10px;
}

.card-most-popular__size {
	color: #535353;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}

.card-most-popular__title {
	color: #2b2929;
	font-size: 19px;
	line-height: 1.26;
}

@media (any-hover: hover) {
.card-most-popular__title:hover {
		text-decoration: underline;
	}
}

.card-most-popular__in-stock {
	display: flex;
	align-items: center;
	gap: 7px;
}

.card-most-popular__in-stock span {
	color: #2b2929;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}

.card-most-popular__choice {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 47px;
	align-items: center;
}

.price-card {
	display: grid;
	grid-template-rows: auto 1fr;
}

.price-card__text-old-price {
	color: #e03d3d;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.46;
	text-decoration: line-through;
}

.price-card__text-new-price {
	font-size: 20px;
	line-height: 1.4;
}

.page__choice {
	display: grid;
	justify-content: end; 
}
.choice-page__list {
	display: grid;
	grid-template-columns: auto 1fr;
	z-index: 2;
	gap: 5px 10px;
	transition: all 0.3s;
}

.choice-page__link {
	border-radius: 50%;
	border: 2px solid #ffbc57;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
}

@media (any-hover: hover) {
	.choice-page__link:hover {
		transform: scale(1.02);
		background-color: #f4ab52;
	}
}


/* -------style-page-------------- */

.page__style {
	padding-top: 40px;
	padding-bottom: 40px;
}

.style-page__container {
	max-width: 1269px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 40px;
	padding: 0px 15px;
	background-color: #f0f0f0;
}

.style-page__wrap {
	padding: 70px 64px 76px 64px;
}


.style-page__caption {
	font-family: "Integral CF", sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 48px;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 64px;
}

.style-page__cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);    
	grid-auto-rows: 289px;
	gap: 20px;
	border-radius: 40px;
}

.style-page__card:nth-child(4n-3),
.style-page__card:nth-child(4n) {
	grid-column: span 2;
}

.style-page__card:nth-child(4n-2),
.style-page__card:nth-child(4n-1) {
	grid-column: span 3;
}

.card-style-page__link {
	display: grid;
	position: relative;
	overflow: hidden;
	height: 100%;
	border-radius: 20px;
	background-color: #fff;
	transition: all 0.3s;
}

.card-style-page__title {
	position: absolute;
	z-index: 2;
	top: 25px;
	left: 36px;
	color: #000;
	font-size: 36px;
	font-family: "Satoshi", sans-serif;
	font-weight: 700;
	line-height: 1.2;
}

.card-style-page__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s;
}


@media (any-hover: hover) {
	.card-style-page__image:hover {
		transform: scale(1.1);
	}
}
@media (any-hover: hover) {
		.card-style-page__link:hover {
		box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3),
				5px 0px 5px 8px rgba(0, 0, 0, 0.3);
		}
	}

/* ----------------footer-------------------------- */

.footer {
	background-color: #2a2929;
}

.footer__container {
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	padding: 20px 0;
} 

.footer__text {
	color: #b1b1b1;
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	line-height: 1.46;
}

@media(max-width: 1355.98px) {
	.card-most-popular__choice {
		column-gap: 10px;
	}
}

@media(max-width: 1026.98px) {
.most-popular__caption {
   font-size: 30px;
	line-height: 1.33;
}
.most-popular__caption-link:not(:last-child) {
	margin-bottom: 20px;
}
}

@media (max-width: 561.98px) {
   .most-popular__link {
		display: none;
	}
	.card-most-popular__image {
	aspect-ratio: 370/220;
	} 
	.card-most-popular__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	}
}

@media (max-width: 416.98px) {
	.most-popular__caption {
		font-size: 20px;
	}
}


@media(max-width: 1276.98px) {
	.style-page__wrap {
		padding: 40px 14px 27px 14px;
	}
	.style-page__container {
		padding-left: 0;
		padding-right: 0;
	}  
	.style-page__caption {
		margin-bottom: 28px;
	}
	.style-page__cards {
	gap: 16px;
	}
}

@media(max-width: 991.98px) {
	.style-page__cards {
	grid-template-columns: repeat(4, 1fr);
	}
	.style-page__card:nth-child(4n-3),
	.style-page__card:nth-child(4n),
	.style-page__card:nth-child(4n-2),
	.style-page__card:nth-child(4n-1),
	.style-page__card {
	grid-column: span 2;
	} 
}

@media(max-width: 799.98px) {
	.style-page__caption {
	font-size: 32px;
	text-align: center;
	line-height: 1.125;
	}
	.style-page__cards {
	grid-template-columns: 1fr;
	}
	.style-page__card:nth-child(4n-3),
	.style-page__card:nth-child(4n),
	.style-page__card:nth-child(4n-2),
	.style-page__card:nth-child(4n-1),
	.style-page__card {
	grid-column: span 1;
	} 
	.card-style-page__title {
	top: 16px;
	left: 24px;
	} 
}

@media(max-width: 479.98px) {
	.style-page__cards {
	grid-auto-rows: 190px;
	} 
	.card-style-page__title {
	font-size: 24px;
	}
}

