@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  width: 100%;
  line-height: 1;
  color: #fff;
  background-color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1303px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  padding: 15px;
}

/* -------------header---------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  opacity: 0.8;
  background-color: #000;
}
@media (min-width: 83.3125em) {
  .header {
    height: 8.125rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 5.4375rem , 4.3138962766rem  +  4.5744680851vw , 8.125rem )) {
    .header {
      height: clamp( 5.4375rem , 4.3138962766rem  +  4.5744680851vw , 8.125rem );
    }
  }
  @supports not (height: clamp( 5.4375rem , 4.3138962766rem  +  4.5744680851vw , 8.125rem )) {
    .header {
      height: calc(5.4375rem + 2.6875 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .header {
    height: 5.4375rem;
  }
}

.menu-header.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
  gap: 10px 102px;
}
@media (max-width: 1341.98px) {
  .menu-header.header__menu {
    gap: 10px;
  }
}
.menu-header__logo {
  font-family: "Exo 2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 0.6;
  z-index: 2;
  letter-spacing: -3px;
  white-space: nowrap;
  cursor: pointer;
}
@media (min-width: 83.3125em) {
  .menu-header__logo {
    font-size: 1.875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 1rem , 0.6341755319rem  +  1.4893617021vw , 1.875rem )) {
    .menu-header__logo {
      font-size: clamp( 1rem , 0.6341755319rem  +  1.4893617021vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.6341755319rem  +  1.4893617021vw , 1.875rem )) {
    .menu-header__logo {
      font-size: calc(1rem + 0.875 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .menu-header__logo {
    font-size: 1rem;
  }
}
.menu-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 60px;
}
@media (max-width: 1196.98px) {
  .menu-header__nav-list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 991.98px) {
  .menu-header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
  }
}
.menu-header__link {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 991.98px) {
  .menu-header__link {
    font-size: 28px;
    font-weight: 600;
  }
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    background-color: #6f00a9;
  }
}

.menu-header__icon {
  display: none;
}
@media (max-width: 991.98px) {
  .menu-header__icon {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 2;
  }
  .menu-header__icon::before, .menu-header__icon::after, .menu-header__icon span {
    content: "";
    height: 3px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
  }
  .menu-header__icon::before {
    top: 0;
  }
  .menu-header__icon::after {
    bottom: 0;
  }
  .menu-header__icon span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .menu-open .menu-header__icon::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .menu-header__icon::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open .menu-header__icon span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.consult.menu-header__consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}
@media (max-width: 991.98px) {
  .consult.menu-header__consult {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.consult__link {
  width: 20px;
  height: 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .consult__link:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.consult img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.consult__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.burger-menu-header {
  display: none;
}
@media (max-width: 991.98px) {
  .burger-menu-header {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 80%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 1;
    overflow: auto;
    padding-top: 110px;
    padding-bottom: 30px;
  }
}
.burger-menu-header::before {
  /*страховка */
  content: "";
  position: fixed;
  opacity: 1;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 80%;
  height: 90px;
  background-color: #000000;
  z-index: 3;
}
.menu-open .burger-menu-header {
  right: 0;
}
.menu-open .burger-menu-header::before {
  right: 0;
}

/* ---------page------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page {
  padding-top: 151px;
}
@media (max-width: 991.98px) {
  .page {
    padding-top: 110px;
  }
}

/* ----------hero--------------*/
.hero {
  position: relative;
  overflow: hidden;
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgb(151, 0, 255)), color-stop(37%, rgb(87, 255, 28)), color-stop(67%, rgb(255, 0, 0)), to(rgb(0, 56, 255)));
  background: linear-gradient(90deg, rgb(151, 0, 255) 0%, rgb(87, 255, 28) 37%, rgb(255, 0, 0) 67%, rgb(0, 56, 255) 100%);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}
@media (min-width: 83.3125em) {
  .hero::before, .hero::after {
    width: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero::before, .hero::after {
      width: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem );
    }
  }
  @supports not (width: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero::before, .hero::after {
      width: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .hero::before, .hero::after {
    width: 7.5rem;
  }
}
@media (min-width: 83.3125em) {
  .hero::before, .hero::after {
    height: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero::before, .hero::after {
      height: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem );
    }
  }
  @supports not (height: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero::before, .hero::after {
      height: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .hero::before, .hero::after {
    height: 7.5rem;
  }
}
@media (max-width: 991.98px) {
  .hero::before, .hero::after {
    display: none;
  }
}
.hero::before {
  top: -114px;
  left: 0;
  -webkit-animation: ellipse-1 15s linear infinite 2s;
          animation: ellipse-1 15s linear infinite 2s;
}
.hero::after {
  top: 255px;
  right: 0;
  -webkit-animation: ellipse-2 15s linear infinite 2s;
          animation: ellipse-2 15s linear infinite 2s;
}
@-webkit-keyframes ellipse-1 {
  30% {
    top: -20%;
    left: 80%;
  }
  60% {
    top: 60%;
    left: 80%;
  }
}
@keyframes ellipse-1 {
  30% {
    top: -20%;
    left: 80%;
  }
  60% {
    top: 60%;
    left: 80%;
  }
}
@-webkit-keyframes ellipse-2 {
  30% {
    bottom: -20%;
    right: 80%;
  }
  60% {
    top: -20%;
    right: 80%;
  }
}
@keyframes ellipse-2 {
  30% {
    bottom: -20%;
    right: 80%;
  }
  60% {
    top: -20%;
    right: 80%;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 10px 58px;
  text-transform: uppercase;
}
@media (max-width: 1341.98px) {
  .hero__container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .hero__container {
    padding-right: 0;
    padding-left: 0;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 120px;
  padding-bottom: 160px;
  gap: 20px 10px;
}
@media (max-width: 991.98px) {
  .hero__content {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 12px 10px;
  }
}
.hero__name {
  position: relative;
  display: inline-block;
  line-height: 1.11;
  letter-spacing: -1px;
  z-index: 10;
}
@media (min-width: 83.3125em) {
  .hero__name {
    font-size: 1.125rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem )) {
    .hero__name {
      font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem )) {
    .hero__name {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .hero__name {
    font-size: 0.875rem;
  }
}
.hero__name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 120%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#F00), color-stop(48.9%, #42FF00), to(#2400FF));
  background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
}
@media (max-width: 991.98px) {
  .hero__name::after {
    bottom: -4px;
  }
}
.hero__title {
  font-weight: 700;
  line-height: 0.875;
}
@media (min-width: 83.3125em) {
  .hero__title {
    font-size: 5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 2rem , 0.7457446809rem  +  5.1063829787vw , 5rem )) {
    .hero__title {
      font-size: clamp( 2rem , 0.7457446809rem  +  5.1063829787vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 0.7457446809rem  +  5.1063829787vw , 5rem )) {
    .hero__title {
      font-size: calc(2rem + 3 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__text {
  line-height: 2.22;
  letter-spacing: -1px;
  text-transform: capitalize;
}
@media (min-width: 83.3125em) {
  .hero__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem )) {
    .hero__text {
      font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem )) {
    .hero__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .hero__text {
    font-size: 0.875rem;
  }
}
.hero__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 253px;
  min-height: 36px;
  padding: 15px 60px;
  gap: 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #6f00a9;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
@media (min-width: 83.3125em) {
  .hero__button {
    font-size: 1.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.7182180851rem  +  0.6382978723vw , 1.25rem )) {
    .hero__button {
      font-size: clamp( 0.875rem , 0.7182180851rem  +  0.6382978723vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7182180851rem  +  0.6382978723vw , 1.25rem )) {
    .hero__button {
      font-size: calc(0.875rem + 0.375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .hero__button {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .hero__button:hover {
    background-color: #0b0045;
  }
}
@media (max-width: 991.98px) {
  .hero__button {
    max-width: 173px;
    padding: 8px 40px;
  }
}
.hero__moving-line {
  display: none;
}
@media (max-width: 991.98px) {
  .hero__moving-line {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.bg-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .bg-group {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 354.98px) {
  .bg-group {
    display: none;
  }
}
.bg-group__img--Pr {
  position: absolute;
  top: 20%;
  left: 5%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 83.3125em) {
  .bg-group__img--Pr {
    width: 6.875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 1.75rem , -0.3926861702rem  +  8.7234042553vw , 6.875rem )) {
    .bg-group__img--Pr {
      width: clamp( 1.75rem , -0.3926861702rem  +  8.7234042553vw , 6.875rem );
    }
  }
  @supports not (width: clamp( 1.75rem , -0.3926861702rem  +  8.7234042553vw , 6.875rem )) {
    .bg-group__img--Pr {
      width: calc(1.75rem + 5.125 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .bg-group__img--Pr {
    width: 1.75rem;
  }
}
@media (min-width: 83.3125em) {
  .bg-group__img--Pr {
    height: 8.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 2.125rem , -0.5402925532rem  +  10.8510638298vw , 8.5rem )) {
    .bg-group__img--Pr {
      height: clamp( 2.125rem , -0.5402925532rem  +  10.8510638298vw , 8.5rem );
    }
  }
  @supports not (height: clamp( 2.125rem , -0.5402925532rem  +  10.8510638298vw , 8.5rem )) {
    .bg-group__img--Pr {
      height: calc(2.125rem + 6.375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .bg-group__img--Pr {
    height: 2.125rem;
  }
}
@media (max-width: 991.98px) {
  .bg-group__img--Pr {
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
.bg-group__img--Ae {
  position: absolute;
  right: 15%;
  top: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
@media (min-width: 83.3125em) {
  .bg-group__img--Ae {
    width: 4.375rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 1.25rem , -0.0565159574rem  +  5.3191489362vw , 4.375rem )) {
    .bg-group__img--Ae {
      width: clamp( 1.25rem , -0.0565159574rem  +  5.3191489362vw , 4.375rem );
    }
  }
  @supports not (width: clamp( 1.25rem , -0.0565159574rem  +  5.3191489362vw , 4.375rem )) {
    .bg-group__img--Ae {
      width: calc(1.25rem + 3.125 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .bg-group__img--Ae {
    width: 1.25rem;
  }
}
@media (min-width: 83.3125em) {
  .bg-group__img--Ae {
    height: 5.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 1.75rem , 0.1821808511rem  +  6.3829787234vw , 5.5rem )) {
    .bg-group__img--Ae {
      height: clamp( 1.75rem , 0.1821808511rem  +  6.3829787234vw , 5.5rem );
    }
  }
  @supports not (height: clamp( 1.75rem , 0.1821808511rem  +  6.3829787234vw , 5.5rem )) {
    .bg-group__img--Ae {
      height: calc(1.75rem + 3.75 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .bg-group__img--Ae {
    height: 1.75rem;
  }
}
@media (max-width: 991.98px) {
  .bg-group__img--Ae {
    -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
  }
}
.bg-group::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: -5%;
  width: 315px;
  height: 377px;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  background: url("../img/hero/lightning-left.webp") 0 0/100% no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .bg-group::before {
    bottom: 0px;
    right: 0px;
  }
}
@media (max-width: 991.98px) and (min-width: 83.3125em) {
  .bg-group::before {
    width: 19.6875rem;
  }
}
@media (max-width: 991.98px) and (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 6.0625rem , 0.3660904255rem  +  23.1914893617vw , 19.6875rem )) {
    .bg-group::before {
      width: clamp( 6.0625rem , 0.3660904255rem  +  23.1914893617vw , 19.6875rem );
    }
  }
  @supports not (width: clamp( 6.0625rem , 0.3660904255rem  +  23.1914893617vw , 19.6875rem )) {
    .bg-group::before {
      width: calc(6.0625rem + 13.625 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 991.98px) and (max-width: 24.5625em) {
  .bg-group::before {
    width: 6.0625rem;
  }
}
@media (max-width: 991.98px) and (min-width: 83.3125em) {
  .bg-group::before {
    height: 23.5625rem;
  }
}
@media (max-width: 991.98px) and (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 6.8125rem , -0.1904255319rem  +  28.5106382979vw , 23.5625rem )) {
    .bg-group::before {
      height: clamp( 6.8125rem , -0.1904255319rem  +  28.5106382979vw , 23.5625rem );
    }
  }
  @supports not (height: clamp( 6.8125rem , -0.1904255319rem  +  28.5106382979vw , 23.5625rem )) {
    .bg-group::before {
      height: calc(6.8125rem + 16.75 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 991.98px) and (max-width: 24.5625em) {
  .bg-group::before {
    height: 6.8125rem;
  }
}
.bg-group::after {
  content: "";
  background: url("../img/hero/lightning-right.webp") 0 0/100% no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  width: 288px;
  height: 321px;
  position: absolute;
  bottom: -5%;
  right: 3%;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .bg-group::after {
    display: none;
  }
}

.bg-group__image img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 83.3125em) {
  .bg-group__image img {
    width: 23.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 11.0625rem , 5.8625664894rem  +  21.170212766vw , 23.5rem )) {
    .bg-group__image img {
      width: clamp( 11.0625rem , 5.8625664894rem  +  21.170212766vw , 23.5rem );
    }
  }
  @supports not (width: clamp( 11.0625rem , 5.8625664894rem  +  21.170212766vw , 23.5rem )) {
    .bg-group__image img {
      width: calc(11.0625rem + 12.4375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .bg-group__image img {
    width: 11.0625rem;
  }
}
@media (min-width: 83.3125em) {
  .bg-group__image img {
    height: 31.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 16.25rem , 9.7696808511rem  +  26.3829787234vw , 31.75rem )) {
    .bg-group__image img {
      height: clamp( 16.25rem , 9.7696808511rem  +  26.3829787234vw , 31.75rem );
    }
  }
  @supports not (height: clamp( 16.25rem , 9.7696808511rem  +  26.3829787234vw , 31.75rem )) {
    .bg-group__image img {
      height: calc(16.25rem + 15.5 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .bg-group__image img {
    height: 16.25rem;
  }
}

.hero__box--adaptive {
  display: none;
}
@media (max-width: 991.98px) {
  .hero__box--adaptive {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .hero__box--adaptive::before, .hero__box--adaptive::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    opacity: 0.3;
    background: -webkit-gradient(linear, left top, right top, from(rgb(151, 0, 255)), color-stop(37%, rgb(87, 255, 28)), color-stop(67%, rgb(255, 0, 0)), to(rgb(0, 56, 255)));
    background: linear-gradient(90deg, rgb(151, 0, 255) 0%, rgb(87, 255, 28) 37%, rgb(255, 0, 0) 67%, rgb(0, 56, 255) 100%);
    border-radius: 100%;
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
}
@media (max-width: 991.98px) and (min-width: 83.3125em) {
  .hero__box--adaptive::before, .hero__box--adaptive::after {
    width: 30rem;
  }
}
@media (max-width: 991.98px) and (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero__box--adaptive::before, .hero__box--adaptive::after {
      width: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem );
    }
  }
  @supports not (width: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero__box--adaptive::before, .hero__box--adaptive::after {
      width: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 991.98px) and (max-width: 24.5625em) {
  .hero__box--adaptive::before, .hero__box--adaptive::after {
    width: 7.5rem;
  }
}
@media (max-width: 991.98px) and (min-width: 83.3125em) {
  .hero__box--adaptive::before, .hero__box--adaptive::after {
    height: 30rem;
  }
}
@media (max-width: 991.98px) and (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero__box--adaptive::before, .hero__box--adaptive::after {
      height: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem );
    }
  }
  @supports not (height: clamp( 7.5rem , -1.9069148936rem  +  38.2978723404vw , 30rem )) {
    .hero__box--adaptive::before, .hero__box--adaptive::after {
      height: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 991.98px) and (max-width: 24.5625em) {
  .hero__box--adaptive::before, .hero__box--adaptive::after {
    height: 7.5rem;
  }
}
@media (max-width: 991.98px) {
  .hero__box--adaptive::before {
    top: -114px;
    left: 0;
    -webkit-animation: ellipse-1 15s linear infinite 2s;
            animation: ellipse-1 15s linear infinite 2s;
  }
  .hero__box--adaptive::after {
    top: 255px;
    right: 0;
    -webkit-animation: ellipse-2 15s linear infinite 2s;
            animation: ellipse-2 15s linear infinite 2s;
  }
}

/* ----------about-me--------------*/
.about-me {
  position: relative;
  overflow: hidden;
  background: url("../img/webp/about-section.webp") center/cover;
}
.about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  row-gap: 60px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .about-me__container {
    row-gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
}
.about-me__title-box {
  text-align: center;
  overflow: hidden;
  padding: 0 50px 20px 50px;
}
.about-me__title {
  position: relative;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
}
@media (min-width: 83.3125em) {
  .about-me__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 1.5rem , 0.5593085106rem  +  3.829787234vw , 3.75rem )) {
    .about-me__title {
      font-size: clamp( 1.5rem , 0.5593085106rem  +  3.829787234vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.5593085106rem  +  3.829787234vw , 3.75rem )) {
    .about-me__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-me__title {
    font-size: 1.5rem;
  }
}
.about-me__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10%;
  width: 120%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#F00), color-stop(48.9%, #42FF00), to(#2400FF));
  background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
}
.about-me__text {
  text-align: center;
  line-height: 2.22;
  letter-spacing: -1px;
  text-transform: capitalize;
}
@media (min-width: 83.3125em) {
  .about-me__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem )) {
    .about-me__text {
      font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7704787234rem  +  0.4255319149vw , 1.125rem )) {
    .about-me__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-me__text {
    font-size: 0.875rem;
  }
}
@media (max-width: 991.98px) {
  .about-me__text {
    line-height: 2.14;
  }
}
.about-me__box {
  display: none;
}
@media (max-width: 991.98px) {
  .about-me__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about-me__footer {
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .about-me__footer {
    display: none;
  }
}
.about-me__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: show-items 15s linear infinite;
          animation: show-items 15s linear infinite;
}
.about-me__item {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (min-width: 83.3125em) {
  .about-me__item {
    font-size: 1.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.7182180851rem  +  0.6382978723vw , 1.25rem )) {
    .about-me__item {
      font-size: clamp( 0.875rem , 0.7182180851rem  +  0.6382978723vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7182180851rem  +  0.6382978723vw , 1.25rem )) {
    .about-me__item {
      font-size: calc(0.875rem + 0.375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-me__item {
    font-size: 0.875rem;
  }
}
.about-me__item::after {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#F00), color-stop(48.9%, #42FF00), to(#2400FF));
  background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: 60px;
}
@-webkit-keyframes show-items {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes show-items {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (any-hover: hover) {
  .about-me__list:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

/* ----------page__portfolio--------------*/
.portfolio {
  position: relative;
}
.portfolio__container {
  padding-top: 150px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 991.98px) {
  .portfolio__container {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
.portfolio__container::before {
  position: absolute;
  content: "";
  background: url("../img/webp/bg-portfolio.webp") center/cover;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 10%;
  opacity: 0.05;
  z-index: -1;
  width: 100%;
}
.portfolio__box-title {
  overflow: hidden;
}
.portfolio__title {
  display: inline-block;
  position: relative;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 120px;
}
@media (min-width: 83.3125em) {
  .portfolio__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 1.5rem , 0.5593085106rem  +  3.829787234vw , 3.75rem )) {
    .portfolio__title {
      font-size: clamp( 1.5rem , 0.5593085106rem  +  3.829787234vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.5593085106rem  +  3.829787234vw , 3.75rem )) {
    .portfolio__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .portfolio__title {
    margin-bottom: 23px;
  }
}
.portfolio__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 120%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#F00), color-stop(48.9%, #42FF00), to(#2400FF));
  background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
}
.portfolio__preview-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 20px;
  padding-bottom: 20px;
  overflow-y: hidden;
  overflow-x: auto;
}
@media (max-width: 991.98px) {
  .portfolio__preview-list {
    gap: 2px;
  }
}
.portfolio__preview-link {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  grid-template-rows: 1fr;
  gap: 40px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .portfolio__preview-link {
    gap: 20px;
  }
}
.portfolio__preview-link::before {
  position: absolute;
  content: "Play video";
  left: 20%;
  top: 50%;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 83.3125em) {
  .portfolio__preview-link::before {
    font-size: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 1.3125rem , 0.8160239362rem  +  2.0212765957vw , 2.5rem )) {
    .portfolio__preview-link::before {
      font-size: clamp( 1.3125rem , 0.8160239362rem  +  2.0212765957vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.3125rem , 0.8160239362rem  +  2.0212765957vw , 2.5rem )) {
    .portfolio__preview-link::before {
      font-size: calc(1.3125rem + 1.1875 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__preview-link::before {
    font-size: 1.3125rem;
  }
}
@media (any-hover: hover) {
  .portfolio__preview-link:hover::before {
    opacity: 1;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@media (any-hover: hover) and (max-width: 991.98px) {
  .portfolio__preview-link:hover::before {
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.portfolio__preview-img {
  border: 10px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 83.3125em) {
  .portfolio__preview-img {
    width: 22.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 12.0625rem , 7.6987367021rem  +  17.7659574468vw , 22.5rem )) {
    .portfolio__preview-img {
      width: clamp( 12.0625rem , 7.6987367021rem  +  17.7659574468vw , 22.5rem );
    }
  }
  @supports not (width: clamp( 12.0625rem , 7.6987367021rem  +  17.7659574468vw , 22.5rem )) {
    .portfolio__preview-img {
      width: calc(12.0625rem + 10.4375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__preview-img {
    width: 12.0625rem;
  }
}
@media (min-width: 83.3125em) {
  .portfolio__preview-img {
    height: 22.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 12.0625rem , 7.6987367021rem  +  17.7659574468vw , 22.5rem )) {
    .portfolio__preview-img {
      height: clamp( 12.0625rem , 7.6987367021rem  +  17.7659574468vw , 22.5rem );
    }
  }
  @supports not (height: clamp( 12.0625rem , 7.6987367021rem  +  17.7659574468vw , 22.5rem )) {
    .portfolio__preview-img {
      height: calc(12.0625rem + 10.4375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__preview-img {
    height: 12.0625rem;
  }
}
.portfolio__preview-title {
  font-family: "Exo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
@media (min-width: 83.3125em) {
  .portfolio__preview-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.1956117021rem  +  2.7659574468vw , 2.5rem )) {
    .portfolio__preview-title {
      font-size: clamp( 0.875rem , 0.1956117021rem  +  2.7659574468vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.1956117021rem  +  2.7659574468vw , 2.5rem )) {
    .portfolio__preview-title {
      font-size: calc(0.875rem + 1.625 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__preview-title {
    font-size: 0.875rem;
  }
}
.portfolio__preview-button {
  position: absolute;
  top: 30%;
  left: 38%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (min-width: 83.3125em) {
  .portfolio__preview-button img {
    width: 6.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (width: clamp( 3.3125rem , 2.084375rem  +  5vw , 6.25rem )) {
    .portfolio__preview-button img {
      width: clamp( 3.3125rem , 2.084375rem  +  5vw , 6.25rem );
    }
  }
  @supports not (width: clamp( 3.3125rem , 2.084375rem  +  5vw , 6.25rem )) {
    .portfolio__preview-button img {
      width: calc(3.3125rem + 2.9375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__preview-button img {
    width: 3.3125rem;
  }
}
@media (min-width: 83.3125em) {
  .portfolio__preview-button img {
    height: 6.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 83.3125em) {
  @supports (height: clamp( 3.3125rem , 2.084375rem  +  5vw , 6.25rem )) {
    .portfolio__preview-button img {
      height: clamp( 3.3125rem , 2.084375rem  +  5vw , 6.25rem );
    }
  }
  @supports not (height: clamp( 3.3125rem , 2.084375rem  +  5vw , 6.25rem )) {
    .portfolio__preview-button img {
      height: calc(3.3125rem + 2.9375 * (100vw - 24.5625rem) / 58.75);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio__preview-button img {
    height: 3.3125rem;
  }
}
@media (any-hover: hover) {
  .portfolio__preview-link:hover .portfolio__preview-button {
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  .portfolio__preview-link:hover .portfolio__preview-img {
    border-color: #6F00A9;
  }
}
@media (max-width: 991.98px) {
  .portfolio {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/* ----------------footer-------------------------- */