/* ШРИФТИ */

@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Quicksand:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=Exo:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");



@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #2b2929;
}


.header {
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding-bottom: 10px;
	background-color: #b7adad;
}

.menu-style {
	max-width: 1920px;
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
}


.link {
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 5px 0px #000000;
	background-color: #c18c3e;
}

.link:hover {
	margin-top: 2px;
	box-shadow: 0 2px 0px #000000;
}

.nav-list {
	margin-bottom: 10px;
	color: #000000;
}

.item-nav-list {
	display: inline-block;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	line-height: 1.25;
	margin: 0 10px 0;
}

.item-nav-list:hover {
	text-decoration: underline;
	margin-top: 1px;
	box-shadow: 0 2px 0px #000000;
}

.page {
	font-size: 0px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.container-livingroom {
	width: 100%;
	background-color: #f8f8f8;
}

.section-livingroom {
	max-width: 1070px;
	width: 100%;
	box-sizing: border-box;
	font-weight: 400;
	margin: 0 auto;
	padding-bottom: 40px;
}

.content-livingroom {
	overflow: hidden;
	font-size: 40px;
	margin: 0 auto;
	padding: 40px 0;
	box-sizing: border-box;
}

.content-livingroom h1 {
	text-align: left;
	line-height: 1.2;
	/* LH/FS=48/40=1.2 */
	margin-bottom: 40px;
}

.image-livingroom {
	overflow: hidden;
	margin-bottom: 40px;
	display: inline-block;
	border-radius: 8px 8px 8px 8px;
}

.image-livingroom img {
	width: 100%;
}

.text-livingroom p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	/* LH/FS=30/16=1.875 */
}

.text-livingroom p:not(:last-child) {
	margin-bottom: 10px;
}

.section-types-of-sofas {
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
}

.caption-types-of-sofas {
	font-size: 20px;
	line-height: 1.4;
	/* LH/FS=28/20=1.4 */
	margin-bottom: 30px;
}

.list-types-of-sofas {
	font-size: 0;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

.item-types-of-sofas {
	width: 100%;
}

.item-types-of-sofas:not(:last-child) {
	margin-bottom: 20px;
}

.text-types-of-sofas {
	font-size: 16px;
	max-width: 1023px;
	line-height: 1.875;
	display: inline-block;
}

.image-types-of-sofas {
	max-width: 32px;
	max-height: 32px;
	overflow: hidden;
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
}

.section-types-of-sofas p:last-child {
	display: inline-block;
	font-size: 16px;
	line-height: 1.875;
	margin-bottom: 0;
}

#types-of-sofas {
	margin-bottom: 40px;
}

.container-price {
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 40px;
	background-color: #fff;
}

.section-prices {
	max-width: 1070px;
	font-size: 40px;
	width: 100%;
	margin: 0 auto;
	border-radius: 8px 8px 8px 8px;
	background-color: #fff;
}

#prices {
	padding-top: 30px;
}

.caption-prices {
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 40px;
}

.item-table {
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.line {
	font-size: 17px;
	line-height: 1.4;
	display: inline-block;
	overflow: hidden;
	padding: 15px 10px;
	border-radius: 8px 8px 8px 8px;
	background-color: #f8f8f8;
	margin: 5px 0 5px 0;
	color: #535353;
}

.line img {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;

}

.item-table .line:nth-child(even) {
	background-color: #fff;
}

.item-table .line:nth-child(odd) {
	background-color: #f8f8f8;
}

.container-about-me {
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.section-about-me {
	max-width: 1512px;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	background-image: url("../img/about-section.png");
}

.content-about-me {
	max-width: 992px;
	box-sizing: border-box;
	margin: 0 auto 60px;
	font-size: 0;
}


.text-about-me {
	max-width: 992px;
	width: 100%;
	font-size: 40px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	margin: 0 auto;
}

.text-about-me p:nth-child(even) {
	font-family: "Exo", sans-serif;
	font-weight: 400;
	max-width: 992px;
	text-align: center;
	font-size: 18px;
	text-transform: capitalize;
	line-height: 2.22;
	letter-spacing: -1px;
	/*line-height:40/18  */
	color: #fff;
}


.sub-title-box {
	max-width: 401px;
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
	margin: 0 auto 20px;
}

.sub-title-about-me {
	height: 70px;
	margin-bottom: 20px;
	display: inline-block;
	font-family: "Exo", sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.16;
	/* 70/60 */
	text-transform: uppercase;
	color: #fff;
}

.sub-title-box::after {
	width: 100%;
	height: 1px;
	display: block;
	content: "";
	background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
}

.sub-title::before {
	vertical-align: top;
}

.box-about-me-footer {
	max-width: 1150px;
	box-sizing: border-box;
	white-space: nowrap;
	margin: 0 auto 30px;
}

.list-about-me-footer {
	font-size: 0;
	text-align: center;
	margin: 0 auto;
}

.item-about-me-footer {
	font-family: "Orbitron", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.25;
	/* line-height=25/20=1.25 */
	display: inline-block;
	text-transform: capitalize;
	color: #fff;
}

.item-about-me-footer::after {
	display: inline-block;
	background: linear-gradient(90deg, #ff0000 0%, #42ff00 50%, #2400ff 100%);
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-left: 60px;
}

.list-about-me-footer :not(:last-child) {
	margin-right: 60px;
}

.box-phone-list {
	width: 100%;
	font-size: 0;
	max-width: 959px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.phone-list-about-me {
	max-width: 932px;
	width: 100%;
	font-size: 0;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}

.item-about-me {
	display: inline-block;
	font-size: 20px;
}

.phone-list-about-me a {
	font-family: "Exo", sans-serif;
	font-weight: 400;
	line-height: 1;
	/* 20/20 */
	letter-spacing: -1px;
	text-transform: lowercase;
	
}

.phone-list-about-me li:not(:last-child) {
	margin-right: 80px;
}

.phone-list-about-me a:nth-child(even) {
	text-transform: capitalize;
}

.phone-list-about-me img {
	display: inline-block;
	margin-right: 20px;
}

.container-mouse-love-game {
	font-size: 0px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.section-mouse-love-game {
	max-width: 1550px;
	margin: 0 auto 40px;
	padding-bottom: 5px;
	padding-top: 40px;
	font-size: 0px;
	width: 100%;
	background-color: #191923;
}

.caption-mouse-love-game {
	max-width: 900px;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: capitalize;
	text-align: center;
	background-color: #a875ff;
	border-radius: 8px;
	padding: 20px 5px;
	margin: 0 auto;
}

.container-mouse-love-game1 {
	max-height: 800px;
	width: 100%;
	font-size: 0px;
	box-sizing: border-box;
	display: block;
	margin-bottom: 100px;
	background: url("../img/hearts3.jpg") 0 0/auto repeat scroll;
	;
}

.image-mouse-love-game {
	max-height: 100px;
	overflow: hidden;
}

.image-mouse-love-game img {
	max-width: 100px;
	max-height: 200px;
}

.block-mouse-love-game-1 {
	max-width: 200px;
	height: 50px;
	width: 100%;
	font-size: 20px;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	background-color: #fb6c06;
}

.block-mouse-love-game-2 {
	width: 50px;
	height: 200px;
	display: inline-block;
	margin-left: -50px;
	margin-bottom: 400px;
	background-color: #fb6c06;
}

.block-mouse-love-game-3 {
	width: 200px;
	height: 50px;
	display: inline-block;
	margin-left: -50px;
	margin-bottom: 360px;
	background-color: #fb6c06;
}

.block-mouse-love-game-4 {
	width: 50px;
	height: 200px;
	display: inline-block;
	margin-bottom: 410px;
	margin-left: -50px;
	background-color: #fb6c06;
}

.block-mouse-love-game-5 {
	width: 200px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-left: -50px;
	background-color: #fb6c06;
}

.block-mouse-love-game-6 {
	width: 200px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	background-color: #fb6c06;
}

.block-mouse-love-game-7 {
	width: 50px;
	height: 300px;
	display: inline-block;
	margin-left: -50px;
	vertical-align: top;
	background-color: #fb6c06;
}

.block-mouse-love-game-8 {
	width: 400px;
	height: 50px;
	display: inline-block;
	margin-bottom: 265px;
	margin-left: -50px;
	background-color: #fb6c06;
}

.block-mouse-love-game-9 {
	width: 500px;
	height: 50px;
	display: inline-block;
	margin-bottom: 265px;
	margin-left: -50px;
	background-color: #fb6c06;
}

.block-mouse-love-game-10 {
	width: 50px;
	height: 300px;
	display: inline-block;
	margin-left: -50px;
	background-color: #fb6c06;
}

[class *="mouse-love-game-"] {
	visibility: hidden;
	opacity: 0;
}

.block-mouse-love-game-1,
.block-mouse-love-game-1:hover+.block-mouse-love-game-2,
.block-mouse-love-game-2:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-2:hover~.block-mouse-love-game-3,
.block-mouse-love-game-3:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-3:hover~.block-mouse-love-game-4,
.block-mouse-love-game-4:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-4:hover~.block-mouse-love-game-5,
.block-mouse-love-game-5:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-5:hover~.block-mouse-love-game-6,
.block-mouse-love-game-6:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-6:hover~.block-mouse-love-game-7,
.block-mouse-love-game-7:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-7:hover~.block-mouse-love-game-8,
.block-mouse-love-game-8:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-8:hover~.block-mouse-love-game-9,
.block-mouse-love-game-9:hover {
	visibility: visible;
	opacity: 1;
}

.block-mouse-love-game-9:hover~.block-mouse-love-game-10,
.block-mouse-love-game-10:hover {
	visibility: visible;
	opacity: 1;
}

.image-mouse-love-game2 {
	max-height: 100px;
	text-align: right;
	overflow: hidden;
	display: block;
	margin-bottom: 5px;
}

.image-mouse-love-game2 img {
	max-width: 120px;
	max-height: 200px;
}




/* lesson 7 */

.container-practice {
	width: 100%;
	box-sizing: border-box;
	font-size: 0;
}

.section-practice {
	font-family: "Quicksand", sans-serif;
	box-sizing: border-box;
	font-weight: 700;
	max-width: 1070px;
	box-sizing: border-box;
	font-size: 0;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	padding: 30px 0;
	background-color: #d7c6c6;
}

.caption-practice {
	max-width: 900px;
	font-size: 50px;
	text-transform: uppercase;
	background-color: #a875ff;
	border-radius: 8px;
	padding: 15px;
	margin: 0 auto 30px;
}

.caption-practice-1 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	background-color: #a875ff;
	border-radius: 8px;
	padding: 15px;
	margin: 0 auto 30px;
	max-width: 900px;
}


.link-2 {
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	max-width: 166px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.56;
	padding: 12px 20px 12px 12px;
	border-radius: 8px;
	margin-right: 20px;
	background-color: #8b3dff;
}

.link-2 span {
	display: inline-block;
	background: url("../img/favourite.png") 0 0 no-repeat;
	padding-left: 34px;
}

.link-2:hover {
	background-color: #a875ff;
}

.link-2:hover span {
	background-position: 5px 0;
}

.text-practice {
	font-size: 20px;
	visibility: hidden;
	margin: 0 auto 30px;
	background-color: #8b3dff;
}

.text-practice:hover {
	background-color: #a875ff;
}

.page:hover .text-practice {
	visibility: visible;
}

.link-2:active {
	background-color: #7921ed;
}

.link-2:visited {
	background-color: #b396df;
}

.link-2:focus-visible {
	outline: 3px solid #2e0466;
}

.show {
	max-width: 166px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.56;
	padding: 12px 20px 12px 12px;
	border-radius: 8px;
	margin: 0 auto 30px;
	text-transform: capitalize;
	background-color: #8b3dff;
}

.show:hover {
	text-decoration: underline;
}

.text-practice {
	display: none;
}

.text-practice:target {
	display: block;
	max-width: 980px;
	margin: 0 auto 30px;
}

.text-practice-1 {
	display: block;
	line-height: 2;
	max-width: 980px;
	font-size: 20px;
	margin: 0 auto 30px;
	padding: 0 20px 20px;
}

.text-practice-1 p:first-child {
	color: #e989e6;
	text-transform: capitalize;
	font-size: 50px;
	padding: 5px;
	border-radius: 5px;
	border: 5px dashed #8b3dff;
}

.text-practice-1 span:first-of-type {
	color: #b396df;
	text-transform: uppercase;
	font-style: italic;
	font-size: 50px;
	padding: 5px;
	border-radius: 5px;
	border: 5px dashed #e83dff;
}

.text-practice-1 p:last-child {
	color: #e989e6;
	text-transform: capitalize;
	font-style: italic;
	font-size: 50px;
	padding: 5px;
	border-radius: 5px;
	border: 5px dotted #8b3dff;
}

.text-practice-1 span:last-of-type {
	color: #9989e9;
	text-transform: capitalize;
	font-style: italic;
	font-size: 50px;
	padding: 5px;
	border-radius: 5px;
	border: 5px dotted #e83dff;
}

.text-practice-2 {
	display: block;
	line-height: 2;
	max-width: 800px;
	font-size: 50px;
	padding: 0 20px 20px;
	margin: 0 auto 30px;
	padding: 5px;
	text-align: center;
}

.caption-practice-1 span {
	text-transform: lowercase;
}

.text-practice-2 p:nth-child(odd) {
	background-color: #9989e9;
}

.text-practice-2 p:nth-child(even) {
	background-color: #cfea8b;
}

.text-practice-3 {
	display: block;
	line-height: 2;
	max-width: 800px;
	font-size: 20px;
	padding: 0 20px 20px;
	margin: 0 auto 20px;
	padding: 5px;
}

.text-practice-3 p:nth-child(1),
.text-practice-3 p:nth-child(4),
.text-practice-3 p:nth-child(6) {
	text-align: center;
	background-color: #ffff00;
}

.text-practice-4 {
	display: block;
	line-height: 2;
	max-width: 800px;
	font-size: 20px;
	padding: 0 20px 20px;
	margin: 0 auto 20px;
	padding: 5px;
}

.text-practice-4 p:nth-child(3n+1) {
	text-align: center;
	background-color: #ff9d00
}

.text-practice-4 p:nth-child(3n) {
	text-align: center;
	background-color: #00fffb
}

.text-practice-4 p:nth-child(3n-1) {
	text-align: center;
	background-color: #a771d4
}

.text-practice-5 {
	display: block;
	line-height: 2;
	max-width: 1000px;
	font-size: 20px;
	margin: 0 auto 15px;
	background-color: #aeeab3;
}

.text-practice-5 p:not(:last-child) {
	background-color: #b7aeea;
	margin-bottom: 15px;
}

.text-practice-6 {
	display: block;
	line-height: 2;
	max-width: 1000px;
	font-size: 20px;
	margin: 0 auto 15px;
}

.text-practice-6:has(p) {
	background-color: #8b63cf;
}

.article>* {
	margin-bottom: 15px;
}

.title {
	font-weight: 700;
	font-size: 24px;
	/* Задаємо свій відступ за потреби */
	margin-bottom: 25px;
}

.content {
	line-height: 1.2;
}

.button {
	background-color: yellow;
	padding: 12px;
	border-radius: 5px;
	color: #000;
}

.button:hover {
	background-color: rgb(35, 238, 16);
}

.article>*:last-child {
	margin-bottom: 0px;
}

.footer {
	width: 100%;
	box-sizing: border-box;
	font-size: 0;
	padding: 40px 0;
}

.link-footer {
	max-width: 1070px;
	margin: 0 auto;
	text-align: center;
}

.footer a {
	text-transform: capitalize;
	font-size: 30px;
	font-style: italic;
	color: #29293b;
}

.footer a:hover {
	text-decoration: underline;
}