@use "sass:math";



@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");


@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

html {
	scroll-behavior: smooth;
	// &.loader {
	// 	opacity: 1;
	// 	transition: opacity 3s;
	// }
}

.mask {
	position: fixed;
	top: 0;
	block-size: 100%;
	inline-size: 100%;
   background: #d5cdcd;
	z-index: 100;
	transition: all 2s;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.loader {
	block-size: toRem(75);
	inline-size: toRem(75);
	border: 0.625rem solid #ffa500;
	border-radius: 50%;
	border-left-color: #f3e14f;
	animation: loader 1.3s linear infinite;
	}

	@keyframes loader {
		100% {
			transform: rotate(360deg);
		}
	}

	.hide {
		opacity: 0;
	}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1.5;
	color: #000;
	background-color: #f3e14f;

}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*=__container] {
	max-inline-size: toRem(1230);
	padding-inline: toRem(15);
	margin-inline: auto;
}


button,
label {
	cursor: pointer;
}


$color-white: #fff;
$color-dark: #1e2832;
$color-black: #000;
$color-red: #ff0000;

//bg
$bgcolor-yellow: #f3e14f;
$bgcolor-white: #fff;
$bgcolor-dark: #333;
$bgcolor-red: #ff0000;


   @media (any-hover:hover) {
	
	.footer__link:hover,
	.header__nav-link:hover {
	color: #ff4500;
	}
	}


/* -------------header---------------------- */

.header {
	position: sticky;
	top: 10%;
	left: 0%;
	opacity: 0.9;

	z-index: 50;
	width: 100%;
	transition: all 0.5s;



	&__container { //.header__container
		display: flex;
		padding-block-start: toRem(20);
		padding-block-end: toRem(20);
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
   }
	&__logo {
		flex: 0 0 toRem(200);
		overflow: hidden;
		cursor: pointer;
		@media(min-width: toEm(720.98)) {
				flex: 0 0 toRem(300);
			}
		img {
	aspect-ratio: 300/100;
	width: 100%;
	height: 100%;
	object-fit: contain;
		}
	}
	&__nav-link { //.header__nav-link

	@media(min-width: toEm(720.98)) {
	font-size: 1rem;
	}
		
	font-size: 1.25rem;
	color:#fff;
	}
}


.header__nav-list {  //.header__nav-list
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: toRem(10); 
	flex-direction: column;
	flex-grow: 1;
	block-size: toRem(80);

	@media(max-width: toEm(720.98)) {
		align-items: center;
		justify-content: flex-start;
		column-gap: toRem(25);
		display: flex;
		flex-wrap: nowrap;
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;

		@media(min-width: toEm(619.98)) {
			inline-size: 50%;
		}

		inline-size: 100%;
		block-size: 100%;
		background-color: $bgcolor-dark;
		opacity: 0.9;
		z-index: 1;
		overflow: auto;
		padding-block-start: toRem(140);
		padding-block-end: toRem(30);
		transition: all 0.5s;
	

	&::before {
		//страховка 
		content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;

		@media(min-width: toEm(619.98)) {
			inline-size: 50%;
		}

		inline-size: 100%;
		block-size: toRem(140);
		background-color: $bgcolor-dark;
		z-index: 3;
		transition: all 0.5s;
	}
	}
	.menu-open & {
		right: 0;
	}

	.menu-open &::before {
		right: 0;
	}
}

.header__icon {

	@media(max-width: toEm(720.98)) {
		& {
			display: block;
			position: relative;
			block-size: toRem(20);
			inline-size: toRem(30);
			flex-shrink: 0;
			z-index: 2;
		}

		&::before,
		&::after,
		& span {
			content: "";
			block-size: 0.1875rem; // 3px
			inline-size: 100%;
			border-radius: 0.5rem; // 8px
			position: absolute;
			left: 0;
			transition: all 0.3s;
			background-color: $color-black;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: translate(0px, -50%);
		}

		.menu-open &::before {
			transform: rotate(-45deg);
			top: 50%;
			margin-block-start: -0.0625rem; // -1px
			background-color: $bgcolor-red;
		}

		.menu-open &::after {
			transform: rotate(45deg);
			bottom: 50%;
			margin-block-end: -0.0625rem; // -1px
			background-color: $bgcolor-red;
		}

		.menu-open & span {
			transform: scale(0);
		}
	}

	display: none;

	&__item {  //.nav-header__item

	}
}

	.menu-open body {
		overflow: hidden;
	}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	padding-block-start: toRem(100);

	&__practice {  //.page__practice
		padding-block: toRem(30);
	}
}

.practice {
	&__container {
		//.practice__container
		display: flex;
		flex-direction: column;
		//justify-content: center;
		align-items: center;
		gap: toRem(15);
	}

	&__title {
		//.practice__title
		font-size: toRem(30);
		text-align: center;
		font-weight: 600;

		@media(min-width: toEm(720.98)) {
			font-size: toRem(48);
		}

		span {
			opacity: 0;
			font-size: toRem(32);
			letter-spacing: toEm(1, 32);

			@media(min-width: toEm(720.98)) {
				font-size: toRem(48);
				letter-spacing: toEm(5, 48);
				animation: animate 1s forwards;
			}

			font-weight: 600;
			letter-spacing: toEm(1, 28);
			display: inline-block;
			animation: animate 0.5s forwards;
		}

		@keyframes animate {
			0% {
				opacity: 0;
				transform: rotateX(-30deg);
			}

			100% {
				opacity: 1;
				transform: rotateX(0deg);
			}
		}
	}

	&__img-wrapper {
		//.practice__img-wrapper
		inline-size: toRem(220);
		border-radius: toRem(10);
	}

	&__img {
		//.practice__img
		aspect-ratio: 220/235;
		object-fit: contain;
		inline-size: 100%;
		border-radius: toRem(10);
	}

	&__task {
		//.practice__task
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: toRem(10);
		@include adaptiveValue("inline-size", 1200, 300);
		padding-inline: toRem(10);
		padding-block: toRem(20);
		border-radius: toRem(10);
	}

	&__list {
		//.practice__list
		display: flex;
		flex-wrap: wrap;
		gap: toRem(10);
		padding: toRem(10);

		@media(min-width: toEm(720.98)) {
			gap: toRem(25);
		}

		justify-content: center;
		font-size: toRem(16);
		color: #000;
		cursor: pointer;
	}

	&__item { //.practice.item
		background-color: #f18219;
		padding: toRem(10);
		border-radius: toRem(8);
		&.active {
			background-color: #f3e14f;
		}
	}

	&__buttons-box {
		//.practice__button-box
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: toRem(30);
		padding: toRem(10);
	}

	&__button {
		// .practice__button
		padding: 0.6875rem 1.25rem;
		border-radius: 0.5rem;
		background-color: #f18219;
		box-shadow: inset 0rem 0rem 0.3125rem 0rem rgba(0, 0, 0, 0.5), 0.1875rem 0rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.5);
		display: inline-flex;
		min-height: 3.125rem;
		text-align: center;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;
		transition: all 0.3s;

		&.active {
			// .practice__button:active
			background-color: #f3e14f;
			color: #f18219;
		}

		span {
			display: flex;
			align-items: center;
			gap: 0.625rem;
			font-size: 1.1875rem;
			line-height: 1.26;
			color: #fff;
		}
	}
&__text--scroll {
	//.practice__text--scroll
	@include adaptiveValue("inline-size", 1200, 300);
	// block-size: toRem(150);
	// overflow: auto;
	border-radius: toRem(8);
	padding-block: toRem(10);
	padding: toRem(30) toRem(10);
	line-height: 2;


	:not(:last-child) {
		//.practice__text--scroll: not(:last-child)
		margin-block-end: toRem(20);
	}

	p {
		//.practice__text--scroll p
		font-size: toRem(16);
		line-height: 1.5;

		@media(min-width: toEm(667.98)) {
			font-size: toRem(20);
			line-height: 2;
		}
	}
}

&__img-wrapper--anim {
	//.practice__img-wrapper--anim
	opacity: 0;
	transform: translate(-10%, 0rem);
	transition: all 1s;

	@media(min-width: toEm(720.98)) {
		transform: translate(-100%, 0%);
	}


	&.animate {
		transform: translate(10%, 0%);
		opacity: 1;

		@media(min-width: toEm(720.98)) {
			transform: translate(100%, 0%);
		}
	}
}


&__text-wrapper--anim {
	//.practice__text-wrapper--anim
	font-style: italic;
	color: yellow;
	opacity: 0;
	transform: translate(-10%, 0rem);
	transition: all 2s;

	p {
		font-size: toRem(25);
	}

	@media(min-width: toEm(720.98)) {
		transform: translate(-30%, 0%);
	}


	&.animate {
		transform: translate(10%, 0%);
		opacity: 1;

		@media(min-width: toEm(720.98)) {
			transform: translate(30%, 0%);
		}
	}
}

&__item-wrapper--anim {
	//.practice__item-wrapper--anim
	text-align: center;
	font-size: toRem(60);
	block-size: toRem(130);
	inline-size: toRem(130);
	border-radius: 50%;
	background-color: #f3e14f;
	border: 0.3125rem solid #ffa500;
	opacity: 0;
	transform: translate(-30%, 0rem);
	transition: all 1s;

	@media(min-width: toEm(667.98)) {
		transform: translate(-100%, 0rem);
	}

	&.animate {
		transform: translate(30%, 0%);
		opacity: 1;

		@media(min-width: toEm(667.98)) {
			transform: translate(100%, 0rem);
			font-size: toRem(100);
			block-size: toRem(200);
			inline-size: toRem(200);
		}
	}
}
}

.task,
.footer,
.header {
	background-color: $bgcolor-dark;
	color: $color-white;

	&__title {
		//.task__title
		font-size: toRem(25);

		@media(min-width: toEm(720.98)) {
			font-size: toRem(32);
		}
	}

	&__question {
		//.task__question
		font-size: toRem(18);

		@media(min-width: toEm(720.98)) {
			font-size: toRem(24);
		}
	}

	span {
		font-style: italic;
	}

	pre {
		white-space: pre-wrap;
		word-break: break-all;

		@media(min-width: toEm(720.98)) {
			padding: 0.625rem;
		}

		padding: 0.3125rem;
		border: 1px solid #d5cdcd;
		border-radius: 0.5rem;
		margin-block-end: toRem(10);
	}

	&__code,
	&__true-code {
		//.task__code
		font-family: "Anonymous+Pro", sans-serif;
		font-weight: 400;
		line-height: 2;
	}

	&__true-code {
		color: #e37310;
	}

	&__answer {
		//.task__answer

	}

	&__explanation {
		//.task__explanation
		color: #8ce28c;
	}

	&__explanation--red {
		//.task__explanation--red
		color: $color-red;
	}

	&__span--color {
		//.task__span--color
		color: #f3e14f;
	}
}
/* ----------------footer-------------------------- */


.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 100%;
	padding: toRem(30) toRem(10);
	transition: background-color 0.5s;
	

	&__link {  //.footer__link
	font-weight: 600;
	line-height: 1.2;
	font-size: toEm(20);
	font-style: italic;
	transition: color 0.3s;
   }

}
