/* ШРИФТИ */



@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1;
	color: #535353;
	background-color: #f8f8f8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}


.page {
	padding: 20px;
}

[class*="__container"] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* --------------------------------------- */

.header {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

@media (any-hover: hover) {
	.menu-header__button:hover {
		background-color: #ef9918;
		box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 3px 0px 2px 3px rgba(0, 0, 0, 0.5);
	}
}


/* -----------------top-header---------------------- */

.top-header {
	background: #F8F8F8;
	padding: 15px 0;
}

.top-header__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.info__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px 30px;
}

.info__item {
	font-size: 16px;
	line-height: 1.26;
	/* line-height: 1.875; */
}

@media (any-hover: hover) {
	.info__item:hover .info__link {
		text-shadow: 1px 1px 1px rgb(101, 99, 99);
		transition-duration: 0.5s;
		text-decoration: underline;
	}
}

.consult {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 30px;
}

.consult__info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 20px;
}

.consult__text {
	font-size: 16px;
	line-height: 1.875;
}

.consult__list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.consult__item {}

.consult__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: transform 0.3s;
}

@media (any-hover: hover) {
	.consult__link:hover {
		transform: scale(1.2);
	}
}

.consult__link--whatsapp {
	background-color: #75b73b;
}

.consult__link--telegram {
	background-color: #40b3e0;
}

.consult__link--viber {
	background-color: #6f3faa;
}

.consult__img img {
	width: 100%;
}

.language {
	display: flex;
	align-items: center;
	width: 50px;
	column-gap: 5px;
	transition: all 0.3s;
}

.language,
.contacts-header {
	cursor: pointer;
	position: relative;
}

.language__label {
	display: flex;
	align-items: center;
	gap: 6px;
	z-index: 2;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}


.language__list {
	position: absolute;
	border-radius: 8px;
	z-index: 3;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	background-color: #F8F8F8;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

@media (any-hover: hover) {
	.language:hover .language__list {
		top: 100%;
		opacity: 1;
		pointer-events: all;
	}
}

.language__item:not(:last-child) {
	margin-bottom: 5px;
}

.language__link {}

@media (any-hover: hover) {
	.language__link:hover {
		color: #FFBC57;
	}
   .language__label:hover {
		color: #FFBC57;
	}
}


/* ------------menu-header--------------------- */

.menu-header {
	background-color: #ffffff;
	padding: 25px 0px;
}

.menu-header:not(:last-child) {
	border-bottom: 2px solid #F8F8F8;
}

.menu-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px 30px;
}

.menu-header__logo {
	display: flex;
	justify-content: flex-end;
	flex-shrink: 0;
	margin-right: 5px;
	width: 250px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.menu-header__img img {
	width: 250px;
}

.menu-header__button {
	padding: 11px 20px;
	border-radius: 8px;
	background-color: #ffbc57;
	display: inline-flex;
	min-height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	transition: all 0.3s;
}

.menu-header__button span {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 19px;
	line-height: 1.26;
	color: #fff;
}

.menu-header__button span::before {
	content: "";
	background: url("../img/menu-catalog.svg") 0 0 no-repeat;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}

.menu-header__button:active {
	background-color: #e38c13;
}

.menu-header__search, .menu-header__contacts {
	z-index: 2;
	position: relative;
}

.search-header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	padding: 0px 15px;
	border: 1px solid #b1b1b1;
	border-radius: 8px;
	outline: none;
	transition: all 0.3s;
}

.search-header__input::placeholder {
	color: #b1b1b1;
	font-size: 16px;
	line-height: 1.875;
}

@media (any-hover: hover) {
	.search-header:hover {
		box-shadow: inset 1px 1px 5px 1px #949090;
		overflow: hidden;
	}
}

.search-header__input {
	display: flex;
	min-width: 50px;
	height: 50px;
	border-radius: 8px;
	padding-right: 10px;
}

.search-header__input::-webkit-search-decoration,
.search-header__input::-webkit-search-cancel-button {
	display: none;
}

.search-header__input:focus {
	outline: none;
}

.search-header__icon {
	gap: 13px;
	flex: 0 0 23px;
}

.search-active {
	display: flex;
	z-index: 2;
}

.search-active__btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #f5bf69;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}

@media (any-hover: hover) {
	.search-active__btn:hover {
		transform: scale(1.05);
		background-color: #f4ab52;
	}
}

.menu-header__search-active {
	display: none;
}

.contacts-header {
	display: flex;
	align-items: center;
	gap: 10px;
	
}


.contacts-header__link-tel {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background-color: #f8f8f8;
	transition: all 0.5s;
}

.icon-tel img {
	width: 50px;
	max-width: 100%;
}

@media (any-hover: hover) {
	.contacts-header__link-tel:hover {
		transform: scale(1.02);
		background-color: #9e9c9c;
		border: 2px solid #545353;
	}
}

.box-phone-numbers__label {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}

.box-phone-numbers__link {
	color: #2b2929;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
}

@media (any-hover: hover) {
	.box-phone-numbers__link:hover {
		color: #FFBC57;
	}
}

.language__icon,
.contacts-header__icon {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	max-width: 24px;
	transition: all 0.4s;
}

@media (any-hover: hover) {
	.contacts-header:hover .contacts-header__icon {
		transform: rotate(90deg);
	}
	.language:hover .language__icon {
		transform: rotate(90deg);
	}
}

.box-phone-numbers__list {
	position: absolute;
	transform: translate(0%, -40%);
	z-index: -1;
	padding: 70px 20px 10px 80px;
	border-radius: 8px;
	inset: -20px -24px auto -20px;
	background-color: #ffffff;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.box-phone-numbers__item:not(:last-child) {
	margin-bottom: 10px;
}

@media (any-hover: hover) {
	.contacts-header:hover .box-phone-numbers__list {
		top: 100%;
		opacity: 1;
		pointer-events: all;
		box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
	}
}

/* -----------menu-header__choice------------------ */


.menu-header__choice {
	display: flex;
	position: relative;
	z-index: 2;
	align-items: center;
	gap: 5px 20px;
	
}

.menu-header__choice-link {
	border-radius: 50%;
	border: 2px solid #ffbc57;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	flex-shrink: 0;
	transition: all 0.3s;
}


@media (any-hover: hover) {
	.menu-header__choice-link:hover {
		transform: scale(1.05);
		background-color: #f4ab52;
	}
}

.menu-header__icon {
	display: none;
}

.header__burger {
	display: none;
}

/* -------------bottom-header----------------- */

.bottom-header {
	background-color: #ffffff;
	padding: 18px 0px;
}

.bottom-header__container {
	display: flex;
	gap: 10px 20px;
	justify-content: space-between;
	align-items: center;
}

.bottom-header__item img {
	margin-right: 10px;
}

.bottom-header__list,
.bottom-header__nav-list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px 40px;
}
.bottom-header__nav-list {
	flex-direction: row-reverse;
}


.bottom-header__link {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}

@media (any-hover: hover) {
	.bottom-header__item:hover,
	.bottom-header__nav-item:hover {
		color: #FFBC57;
	}
}

@media (max-width: 1269.98px) {
	.menu-header__container {
		column-gap: 20px;
	}

	.info__list,
	.bottom-header__list,
	.bottom-header__nav-list {
		column-gap: 20px;
	}
	.menu-header__logo {
		width: 170px;
	}
	.bottom-header__item img {
		margin-right: 3px;
	}
	.menu-header__button span::before {
		display: none;
	}
}



/* ---------page------------ */

.main {
	flex-grow: 1;
}

/* ----------------footer-------------------------- */

.footer {
	background-color: #2a2929;
}

.footer__container {
	display: flex;
	justify-content: center;
	padding: 20px 0;
} 

.footer__text {
	color: #b1b1b1;
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	line-height: 1.46;
}

@media(max-width: 991.98px) {
	.box-phone-numbers,
	.icon-arrow {
		display: none;
	}
	.menu-header {
		padding: 10px 0px;
	}
	.bottom-header {
		display: none;
	}
	.menu-header__button {
		flex-grow: 1;
	}
	.menu-header__icon {
		display: block;
		position: relative;
		height: 24px;
		width: 37.5px;
		flex-shrink: 0;
		z-index: 2;
	}
	.menu-header__icon::before,
	.menu-header__icon::after,
	.menu-header__icon span {
		content: "";
		height: 3px;
		width: 100%;
		border-radius: 8px;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #535353;
	}
	.menu-header__icon::before {
		top: 0;
	}
	.menu-header__icon::after {
		bottom: 0;
	}
	.menu-header__icon span {
		top: 50%;
		transform: translate(0px, -50%);
	}
	.menu-open .menu-header__icon::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .menu-header__icon::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
	.menu-open .menu-header__icon span {
		transform: scale(0);
	}
	.header__burger {
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 1;
		overflow: auto;
		padding-top: 90px;
		padding-bottom: 30px;
	}
	.header__burger::before {
		/*страховка */
		content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 60px;
		background-color: #fff;
		z-index: 3;
	}
	.menu-open .header__burger {
		right: 0;
	}
	.menu-open .header__burger::before {
		right: 0;
	}
	.burger-header__container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	/* ---переносимо в бургер--- */
	/* .header__bottom {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		z-index: 1;
		padding-top: 120px;
		padding-bottom: 50px;
	}

	.header__bottom::before {
		content: "";
	   position: fixed;
		top: 0;
		width: 100%;
		height: 90px;
		background-color: #fff;
		z-index: 2;
	} 
	
	*/
	.header__top {
		display: none;
	}
	/* ----------------- */


	.info__list,
	.bottom-header__list,
	.bottom-header__nav-list {
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
	}
	.info__link,
	.bottom-header__link,
	.bottom-header__link {
		font-size: 28px;
		font-weight: 600;
	}

	/* прибрали */

	/* .bottom-header__container {
		display: flex;
		flex-direction: column-reverse;
		row-gap: 40px;
		align-items: flex-end;
	}

	.bottom-header__container:not(:last-child) {
		margin-bottom: 40px;
	} */

	.top-header__consult {
		align-self: stretch;
		justify-content: space-between;
	}
	.top-header__container {
		flex-direction: column;
		row-gap: 40px;
		align-items: center;
	}
	
	.footer__container {
		padding: 10px 0;
      display: flex;
		flex-grow: 0;
	}
}


@media(max-width: 767.98px) {
	.bottom-header {
		display: block;
		padding: 20px 0px;
	}
	.menu-header__logo {
		width: 215px;
	}
	.menu-header__logo img {
		width: 215px;
	}
	.header__burger {
		padding-top: 190px;
	}
	.header__burger::before {
		height: 160px;
	}
}


@media(min-width: 559px) and (max-width: 767px) {
	.box-phone-numbers,
	.icon-arrow {
		display: block;
	}
}

@media (max-width: 479.98px) {
	.menu-header__button span::before {
		display: block;
	}
	.search-header {
		display: none;
	}
	.menu-header__search-active {
		display: block;
	}
	.bottom-header__container,
	.menu-header__container {
		padding-right: 35px;
		padding-left: 35px;
	}
	.menu-header__button {
		flex-grow: 0;
		flex-shrink: 1;
	}
	.consult__text {
		display: none;
	}
	.top-header__consult {
		justify-content: center;
	}
}

@media (max-width: 408.98px) {
	.bottom-header__container,
	.menu-header__container {
		padding-right: 20px;
		padding-left: 20px;
		column-gap: 5px;
	}
	.menu-header__button span::before {
		display: none;
	}
	.menu-header__logo {
		width: 150px;
	}
	.menu-header__choice {
		column-gap: 5px;
	}
}
