/* ШРИФТИ */

@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Quicksand:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Quicksand:wght@500&family=Smooch&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Cedarville+Cursive&family=Quicksand:wght@500&family=Smooch&display=swap");


@import url("https://fonts.googleapis.com/css?family=Milonga:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overlock:italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");


@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	background-color: #fff;
	padding: 2px 0px;
	color: #2b2929;
}

.header {
	font-size: 0;
	width: 100%;
	max-width: 1920px;
	box-sizing: border-box;
	overflow: hidden;
	background-image: url("../img/fon-s-knigami-dlya-teksta.jpg");
}

div.header {
	max-width: 1920px;
	font-size: 20px;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto;
}

.image {
	max-width: 1800px;
	width: 100%;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border: 5px;
	text-align: center;
	background-color: #f1eded;
}

.image img {
	max-width: 1920px;
}

.link-krovato {
	margin: 15px;
	padding: 15px;
}

.link {
	padding: 20px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 5px;
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 30px;
	box-shadow: 0 5px 0px #000000;
	background-color: #db7816;
}

.link:hover {
	margin-top: 3px;
	box-shadow: 0 2px 0px #000000;
}

.menu-style {
	max-width: 1850px;
	height: 700px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	font-size: 0;
	background: url("../img/сhurchill.jpg") 0 0/auto no-repeat scroll;
	background-size: cover;
}

.nav-list {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	max-width: 700px;
	font-size: 50px;
	font-style: italic;
	line-height: 1.25;
	margin: 10px 100px 100px 10px;
	padding: 10px;
	color: #f1eded;
}

.title-quote {
	max-width: 1850px;
	height: 1100px;
	width: 100%;
	font-size: 0;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	background-image: linear-gradient(55.95deg, #d0c391 0%, #9f855c 100%);
}

.title {
	font-family: "Akaya Kanadaka", sans-serif;
	text-shadow: 5px 5px 15px #ff0000;
	font-size: 50px;
	font-weight: 700;
	max-width: 900px;
	letter-spacing: 10px;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	color: #0d1216;
}

.image1 {
	max-width: 1800px;
	text-align: center;
	margin: 10px auto;
}

.section-health {
	font-size: 0;
	width: 100%;
	max-width: 1920px;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 40px;
	background-image: url("../img/fon-s-knigami-dlya-teksta.jpg");
}

.text {
	max-width: 1800px;
	height: 700px;
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border: 50px double #292830;
	border-radius: 11% 89% 13% 87% / 92% 12% 88% 8%;
	background-color: #dfcaaa;
}

.text>p {
	font-family: "Akaya Kanadaka", sans-serif;
	font-size: 35px;
	font-weight: 400;
	font-style: oblique;
	text-align: center;
	margin: 10px 20px;
	padding: 30px 0px;
	color: #292830;
}

.sub-title {
	font-family: "Cedarville Cursive", sans-serif;
	font-weight: 500;
	font-size: 40px;
	text-align: center;
	text-transform: capitalize;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	color: #cd3242;
}

.block {
	max-width: 1920px;
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
	padding: 30px;
	border: 10px solid #2b2929;
	display: block;
	background: #9f855c;
}

.health-list {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
	padding: 30px;
}

.sub-title1 {
	font-family: "Milonga", sans-serif;
	font-size: 40px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	vertical-align: center;
	line-height: 1.2;
	margin: 10px auto 20px;
	padding: 20px;
	box-shadow: inset 0 0 8px 0px #00000080;
	border-radius: 90% 10% 78% 22% / 15% 89% 11% 85%;
	background: #d0c391 0%;
	color: #a52a2a;
}

.list {
	font-family: "Overlock", sans-serif;
	font-weight: 400;
	max-width: 1800px;
	height: 400px;
	font-style: italic;
	vertical-align: center;
	margin: 5px;
	padding: 5px;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
	color: #fffefd;
}

.health-item {
	width: 33%;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
	height: 400px;
	text-align: center;
	font-style: italic;
	background: url("../img/photo-old-books-on-wooden-table.jpg");
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
}

[class*="sp"] {
	text-decoration: line-through;
	color: #cd329c;
}

span {
	text-decoration: line-through;
	text-decoration-color: red;
	font-size: 50px;
	color: #d0c4c4;
}

mark {
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.container-list1 {
	max-width: 1920px;
	width: 100%;
	font-size: 0;
	overflow: hidden;
	margin: 10px;
	padding: 30px;
	box-sizing: border-box;
}

.health-list1 {
	font-family: "Cedarville Cursive family", sans-serif;
	font-size: 40px;
	font-weight: 400;
	width: 100%;
	display: inline-block;
	max-width: 1800px;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	border-radius: 20px;
	background-color: #dfcaaa;
}

.sub-title2 {
	text-transform: capitalize;
	padding: 10px;
	color: #da490b;
}

.list1 p {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 30px;
	overflow: scroll;
	font-style: oblique;
	text-align: center;
	color: #963f1d;
}

.list1 h4 {
	font-size: 30px;
	font-style: oblique;
	text-transform: lowercase;
	text-align: center;
	color: #cd323c;
}

.text1 p {
	font-size: 50px;
	font-style: oblique;
	text-transform: uppercase;
	padding: 30px;
	margin: 20px;
	letter-spacing: 5px;
	text-align: center;
	line-height: 1.25;
	color: #6c3232;
}

.section {
	max-width: 1920px;
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 40px;
	background-color: #f8f8f8;
}

.choose-a-bed {
	width: 100%;
	max-width: 960px;
	height: 478px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	margin: 30px auto;
}

.caption-choose-a-bed {
	width: 100%;
	max-width: 960px;
	margin: 0 auto 30px;
}

.choose-a-bed h3 {
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	line-height: 1.2;
	/* LH/FS=48/40=1.2 */
	margin: 0 auto;
}

.text-choose-a-bed {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	/* LH/FS=30/16=1.875 */
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	letter-spacing: 0;
}

.section-livingroom {
	width: 100%;
	max-width: 1070px;
	margin: 0px 425px 30px;
	overflow: hidden;
	font-size: 0;
	box-sizing: border-box;
	background-color: #f8f8f8;
}

.link1 {
	max-width: 1070px;
	font-size: 40px;
	font-weight: 400;
	text-align: left;
	line-height: 1.2;
	/* LH/FS=48/40=1.2 */
	margin-bottom: 40px;
}

.image-livingroom {
	max-width: 1070px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
	display: inline-block;
	border-radius: 8px 8px 8px 8px;
}

.text-livingroom {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	/* LH/FS=30/16=1.875 */
	width: 100%;
	max-width: 1070px;
	margin-bottom: 40px;
}

.text1-livingroom {
	width: 100%;
	max-width: 1070px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	/* LH/FS=28/20=1.4 */
	margin-top: 40px;
}

.section-types-of-sofas {
	width: 100%;
	max-width: 1070px;
	font-size: 0;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0px 425px 40px;
	background-color: #f8f8f8;
}

.types-of-sofas {
	width: 100%;
	max-width: 1070px;
	font-size: 0;
}

.types-of-sofas-content {
	max-width: 1070px;
	font-size: 16px;
	box-sizing: border-box;
	margin: 20px 0;
}

.img-types-of-sofas {
	max-width: 32px;
	width: 10%;
	height: 32px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.text-types-of-sofas {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	max-width: 1023px;
	width: 90%;
	box-sizing: border-box;
	line-height: 1.875;
	display: inline-block;
}

.section-krovato {
	max-width: 1290px;
	font-weight: 400;
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0 315px;
	overflow: hidden;

}

.caption-krovato {
	max-width: 1290px;
	font-family: "Proxima Nova", sans-serif;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
}


.krovato-content {
	padding: 10px 10px;
	background-color: #f8f8f8;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	text-align: center;
	width: 100%;
	max-width: 300px;
	font-size: 16px;
	line-height: 1.875;
	box-sizing: border-box;
}

.krovato-content img {
	width: 100%;
	overflow: hidden;
	max-width: 170px;
	height: 170px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	margin: 0 65px 20px;
}

.krovato-content-text {
	font-family: "Proxima Nova", sans-serif;
	font-size: 26px;
	text-align: center;
	font-weight: 400;
	line-height: 1.307;
	margin-bottom: 20px;
	width: 100%;
}

.krovato-content-text1 {
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
	font-style: normal;
	text-align: center;
	line-height: 30px;
	width: 100%;
	max-width: 300px;
	margin-top: 20px;
}

.item-krovato {
	width: 25%;
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 26px;
	margin-top: 10px;
	vertical-align: top;
	background-color: #f8f8f8;
}

.section-footer-contacts {
	font-size: 0;
	width: 100%;
	max-width: 1920px;
	box-sizing: border-box;
	margin-bottom: 40px;
	overflow: hidden;
	text-align: center;
	background-image: url("../img/fon-s-knigami-dlya-teksta.jpg");
}

.footer-contacts {
	max-width: 1920px;
	font-size: 0;
	width: 100%;
}

#some-id {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	padding: 10px 20px;
	margin: 0 auto;
	font-style: oblique;
	text-transform: lowercase;
	color: #191923;
}

.arrow-left {
	width: 33%;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #802900;
	border-bottom: 50px solid transparent;
	display: inline-block;
	padding: 5px;
}

.arrow-right {
	width: 33%;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #802900;
	border-bottom: 50px solid transparent;
	display: inline-block;
	padding: 5px;
}

.container-footer {
	width: 33%;
	display: inline-block;
	padding: 5px;
}

.footer-contacts a {
	text-transform: capitalize;
	font-size: 20px;
	font-style: italic;
	color: #191923;
}

.phone-list a {
	color: #d21e1e;
}

#some-id2 {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	font-style: oblique;
	text-transform: lowercase;
	color: #dc143c;
}


/* lesson 6 */


.container-section-explore {
	max-width: 1920px;
	width: 100%;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-size: 0;
}

.section-explore {
	width: 100%;
	overflow: hidden;
	max-width: 1440px;
	height: 530px;
	box-sizing: border-box;
	margin: 0 auto;
	background: url("../img/explore-section.png") 0 0/1440px no-repeat;
}

.container-frame-explore {
	width: 100%;
	max-width: 1280px;
	height: 530px;
	position: relative;
	box-sizing: border-box;
	margin: 0px 80px;
	font-size: 0;
	display: inline-block;
}

.content-explore {
	max-width: 1280px;
	font-family: "Quicksand", sans-serif;
	width: 100%;
	margin: 0 auto;
}

.text-explore {
	width: 100%;
	max-width: 600px;
	height: 288px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin-top: 121px;
	margin-bottom: 121px;
}

.caption-explore {
	width: 100%;
	height: 96px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 24px;
	color: #fff;
}

.info-explore {
	font-family: "Quicksand", sans-serif;
	width: 100%;
	max-width: 600px;
	font-weight: 500;
	line-height: 32px;
	font-size: 20px;
	color: #fff;
}

.info-exlore p {
	font-family: "Quicksand", sans-serif;
	width: 100%;
	max-width: 600px;
	font-weight: 500;
	line-height: 32px;
	font-size: 20px;
	color: #fff;
	height: 96px;
}

.explore-button {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	margin-top: 24px;
	border-radius: 8px 8px 8px 8px;
	box-sizing: border-box;
	padding: 12px 20px;
	display: inline-block;
	vertical-align: top;
	color: #0d1216;
	background-color: #fff;
}

.image-explore {
	width: 100%;
	overflow: hidden;
	max-width: 547px;
	height: 530px;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 133px;
	color: #fff;
}

.conteiner-section-coral {
   max-width: 1920px;
	width: 100%;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-size: 0;
}

.section-coral {
	font-family: "Roboto", sans-serif;
	width: 100%;
	overflow: hidden;
	font-size: 0;
	max-width: 1920px;
	height: 847px;
	max-width: 1920px;
	box-sizing: border-box;
	padding: 225px 394px 60px 300px;
	background: url("../img/flower.png") 1700px 350px/auto no-repeat scroll, url("../img/flower1.png") 0 600px/auto no-repeat scroll;
	background-color: #f7fafb;
}

.item-coral {
	width: 100%;
	overflow: hidden;
	width: 1226px;
	height: 562px;
	position: relative;
	font-size: 0;
	box-sizing: border-box;
	display: inline-block;
	background-color: #f7fafb;
}

.content-coral {
	width: 1226px;
	height: 564px;
	width: 100%;
	position: relative;
}

.text-coral {
	width: 100%;
	width: 686px;
	height: 365px;
	overflow: hidden;
	max-width: 1920px;
	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	background-color: #f7fafb;
}

.caption-coral {
	font-size: 74px;
	font-style: normal;
	font-weight: 300;
	height: 55px;
	vertical-align: bottom;
	margin-right: 326px;
	margin-bottom: 52px;
	color: #000;
}

.info-coral {
	width: 100%;
	max-width: 682px;
	height: 119px;
	font-size: 30px;
	font-weight: 400;
	line-height: 55px;
	text-transform: capitalize;
	margin-bottom: 66px;
	margin-top: 52px;
	color: #000;
}

.bottom-coral {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 29px;
	max-width: 223px;
	height: 72px;
	overflow: hidden;
	font-size: 0;
	background-color: #1e2832;
}

.box-bottom {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 19px;
	padding-bottom: 19px;
	vertical-align: middle;
}

.box-bottom a {
	display: inline-block;
	font-size: 29px;
	font-style: normal;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	margin-left: 5px;
	vertical-align: middle;
	color: #fff;
}

.box-bottom img {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.image-coral {
	width: 100%;
	max-width: 442px;
	height: 562px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 96px;
	border-radius: 20px;
	background-color: #f7fafb;
}

.footer {
	max-width: 1920px;
	width: 100%;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-size: 0;
}

.footer a {
	text-transform: capitalize;
	font-size: 50px;
	font-style: italic;
	color: #191923;
}