/* ШРИФТИ */



@import url("fonts.css");

@import url("reset.css");

body {
	background-color: #333;
	font-family: "Proxima Nova", sans-serif;
	background-color: #f8f8f8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.header {
	background-color: #fff;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 160px;
	width: 100%;
	z-index: 50;
}

.block__btn {
	width: 100%;
	color: #fff;
	padding: 11px 20px;
	max-width: 145px;
	border-radius: 8px 8px 8px 8px;
	background-color: #ffbc57;
	font-size: 0;
	display: block;
	line-height: 1.26;
	position: absolute;
	top: 87px;
	left: 599px;
	overflow: hidden;
}

.block__btn span {
	width: 100%;
	vertical-align: middle;
	font-size: 19px;
}

.block__btn:hover {
	background-color: #ef9918;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 3px 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.block__btn:active {
	background-color: #e38c13;
}


.block__btn::before {
	content: "";
	background: url("../img/vector-catalog.svg") 0 0 no-repeat;
	width: 100%;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: middle;
}

.block__btn:hover::before {
	background: url("../img/menu-catalog.svg") 0 0 no-repeat;
}

.block__menu {
	max-width: 1920px;
	margin: 0 auto;
	border-radius: 8px 0 0 8px;
	padding: 8px 0;
	min-width: 300px;
	z-index: 10;
	display: none;
	position: absolute;
	top: 178px;
	left: 415px;
	box-sizing: border-box;
	background-color: #fff;
}

.block__menu:target {
	display: block;
}

.menu__list {
	width: 100%;
	max-width: 623px;
	margin: 0 auto;
   font-size: 0;
	display: block;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}


.menu__item {
	max-width: 300px;
   font-size: 20px;
	min-height: 28px;
	line-height: 1.4;
	display: block;
	font-weight: 600;
	background-color: #fff;
}

.menu__image {
	width: 100%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	box-sizing: border-box;
	margin-right: 15px;
}

.menu__link {
	width: 100%;
   background-color: #fff;
	padding: 10px 30px 10px 35px;
	position: relative;
	min-height: 60px;
}

.menu__link::after {
	content: "";
	background: url("../img/arrow-yellow.svg") 0 0 no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 18px;
	right: 15px;
}

.menu__link:hover::after {
	content: "";
	background: url("../img/arrow-black.svg") 0 0 no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 18px;
	right: 9px;
}

.menu__link * {
	vertical-align: middle;
}


.menu__item:hover .menu__link {
	display: block;
	width: 100%;
	background-color: #ffbc57;
}

.sub-menu {
   position: absolute;
	top: 0;
	left: 100%;
	display: inline-block;
	background-color: #fff;
	overflow-y: auto;
	font-size: 19px;
	font-weight: 400;
	line-height: 2.1;
	width: 100%;
	width: 323px;
   border-radius: 0 8px 8px 0;
	padding: 8px 0;
	opacity: 0;
	visibility: hidden;
	box-sizing: border-box;
	height: 100%;
}

.menu__item:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	overflow: hidden;
	display: inline-block;
}

.sub-menu:not(:last-child) {
	margin-bottom: 5px;
}

.sub-menu__list {
	position: relative;
	padding: 0 20px 20px 30px;
}

.sub-menu::before {
	content: "";
	position: absolute;
	background: #fdae3f;
	height: 100%;
	width: 5px;
	top: 8px;
	left: 0;
}

.sub-menu__item {
	vertical-align: middle;
}

.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}


.sub-menu__link {
	width: 100%;
	min-height: 40px;
}

.sub-menu__link:hover {
	color: #ffbc57;
}




/* --------------------- */

.page {
	font-family: "Proxima Nova", sans-serif;
	font-size: 0;
	font-weight: 600;
	padding: 150px 20px 20px 20px;
	color: #2b2929;
	position: relative;
}

.page__container {
   max-width: 1290px;
	font-size: 20px;
}

.container--margin {
	margin-bottom: 60px;
}

.container--margin .container__card:not(:last-child) {
	margin-right: 20px;
}

.container__caption {
	max-width: max-content;
	font-size: 60px;
	line-height: 2;
	margin-bottom: 20px;
}

.container__caption-1 {
	max-width: max-content;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.container__caption-1:hover {
	text-decoration: underline;
	text-shadow: 0px 1px 0px #9c9797;
}


.container__card {
   width: 100%;
   display: inline-block;
	overflow: hidden;
   max-width: 250px;
   border-radius: 8px 8px 8px 8px;
	background: url("../img/frame-1.svg") 0 108px no-repeat #fff;
	box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, .06);
	position: relative;
}

.container__card:hover {
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5),
		8px 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.card__title {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
	line-height: 1.4;
}

.container__caption:hover {
	text-decoration: underline;
	text-shadow: 0px 1px 0px #9c9797;
}

.card__link:hover {
	text-decoration: underline;
	text-shadow: 0px 1px 0px #9c9797;
}

.card__number {
	position: absolute;
	top: 20px;
	left: 206px;
	color: #b1b1b1;
	font-size: 20px;
	line-height: 1.4;
}

.card__number:hover {
	text-decoration: underline;
	text-shadow: 0px 1px 0px #9c9797;
}

.card__buttom {
	max-width: 50px;
	height: 50px;
	position: absolute;
	top: 230px;
	left: 180px;
}

.card__buttom:hover {
	background-color: #f8f8f8;
	border-radius: 25px;
	box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5), 3px 0px 2px 3px rgba(0, 0, 0, 0.5);
	margin-top: 3px;
}

.card__image {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: -3px 4px 15px 0 rgba(0, 0, 0, .06);
}

.card__labels {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 10;
}

.card__label {
	background-color: #179c1a;
	padding: 10px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
}

.decor {
	position: absolute;
	top: 20%;
	margin-top: -163px;
	right: 0;
	opacity: 0.5;
}

.image {
	display: inline-block;
	position: relative;
	left: 300px;
	overflow: hidden;
	border-radius: 50px;
}

.image--margin {
	margin-bottom: 40px;
}

.image::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	transition: all 0.3s;
}

.image__item {
	max-width: 100%;
}

.image:hover::before {
	opacity: 0;
}

.image:hover {
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5),
			8px 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.some-picture {
	width: 300px;
	position: relative;
	margin: 0 auto;
}

.some-picture--margin {
	margin-bottom: 100px;
}

.some-picture__item {
	width: 100%;
	position: relative;
	border-radius: 30% 0 30% 0;
	z-index: 2;
}

.some-picture::before {
	border-radius: 30% 0 30% 0;
	border: 1px solid #000;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 18px;
	bottom: 10px;
}

.some-picture__item:hover {
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5),
		8px 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.footer {
	width: 100%;
	box-sizing: border-box;
	font-size: 0;
	margin-bottom: 40px;
	background-image: url("../img/webp/lake.webp");
	background-attachment: cover;
}

.footer__link {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.footer a {
	text-transform: lowercase;
	font-size: 20px;
	font-style: italic;
	color: #29293b;
	text-shadow: 3px 3px 6px #000;
}

.footer a:hover {
	text-decoration: underline;
}


