/* ШРИФТИ */



@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Quicksand:wght@500&family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Cedarville+Cursive&family=Quicksand:wght@500&family=Smooch&display=swap");

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Khojki&display=swap");

@import url("https://fonts.googleapis.com/css?family=Milonga:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overlock:italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima nova", sans-serif;
	font-weight: 500;
	background-color: #f6f3f3;
	padding: 2px 0px;
	color: #2b2929;
}

.header {
	font-weight: 400;
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	max-width: 1290px;
	margin: 20px 0px;
	display: inline-block;
}

.image {
	width: 1290px;
	width: 100%;
	height: auto;
	margin: 0;
	max-width: 1290px;
}

.link_krovato {
	font-size: 20px;
	display: inline-block;
	height: auto;
	margin: 5px 20px 20px 15px;
	color: #db7816;
}

.menu-style {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 25px;
	width: 960px;
	width: 100%;
	margin: 20px 100px 15px;
	text-align: center;
	color: #a52a2a;
}

.winston_churchill {
	margin: 15px;
	vertical-align: middle;
}

.title {
	font-family: "Akaya Kanadaka", sans-serif;
	text-shadow: 5px 5px 15px #ff0000;
	font-size: 50px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 10px;
	padding: 40px;
	color: #0d1216;
}

.winston_churchill>p {
	font-family: "Akaya Kanadaka", sans-serif;
	text-shadow: 5px 5px 15px #ff0000;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #663399;
}

.image1 {
	text-align: center;
	min-width: 400px;
	vertical-align: middle;
	margin: 10px 15px 10px;
}

.picture {
	padding-bottom: 10px;
	margin-bottom: 10px;

}

.picture1 {
	padding-bottom: 10px;
	margin-top: 40px;
}

.text {
	min-width: 500px;
	margin: 0 auto;
	overflow: hidden;
	display: inline-block;
}

.text>p {
	font-family: "Akaya Kanadaka", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: oblique;
	word-spacing: 10px;
	margin: 0 -30px;
	color: #140180;
}

.sub-title {
	font-family: "Cedarville Cursive", sans-serif;
	font-weight: 500;
	font-size: 40px;
	text-transform: capitalize;
	text-align: right;
	margin: 100px -40px 100px 300px;
	overflow: hidden;
	color: #cd3242;
}

.block {
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	max-width: 1290px;
	margin: 30px;
	display: inline-block;
}

.sub-title1 {
	font-family: "Milonga", sans-serif;
	font-size: 40px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
	line-height: 1.2;
	text-transform: none;
	color: #a52a2a;
}

.list {
	font-family: "Overlock", sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-decoration: underline;
	font-style: italic;
	vertical-align: center;
	margin: 30px;
	padding-left: 15px;
	padding-right: 15px;
	color: #cd4232;
}

.health_item {
	padding: 20px;
	text-align: center;
	font-style: italic;
	background-color: #e1d7d7;
}

[class*="sp"] {
	text-decoration: line-through;
	color: #cd329c;
}

span {
	text-decoration: line-through;
	text-decoration-color: red;
	color: #4e32cd;
}

.health_list1 {
	font-size: 40px;
	font-weight: 400;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	max-width: 1290px;
	margin: 30px 15px 30px 5px;
	padding: 10px;
	display: inline-block;
	background-color: #e1d7d7;
}

.sub-title2 {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 40px;
	text-decoration: none;
	text-transform: capitalize;
	padding: 10px;
	color: #da490b;
}

.list1 p {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 30px;
	overflow: scroll;
	font-style: oblique;
	color: hsl(17, 68%, 35%);
}

.list1 h4 {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 30px;
	text-decoration: none;
	font-style: oblique;
	text-transform: lowercase;
	color: #cd323c;
}

.text1 p {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-style: oblique;
	text-transform: uppercase;
	box-sizing: content-box;
	height: 60px;
	margin: 10px;
	vertical-align: middle;
	color: #cd3278;
}

.choose_a_bed {
	width: 100%;
	max-width: 960px;
	overflow: hidden;
	box-sizing: border-box;
	margin: 30px 425px;
	min-height: auto;
}

#some-id {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	font-style: oblique;
	text-transform: lowercase;
	color: #b8860b;
}

.text2 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.875;
	/* LH/FS=30/16=1.875 */
	text-transform: none;
	width: 100%;
	overflow: hidden;
	max-width: 960px;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 30px;
}

h3 {
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
	/* LH/FS=48/40=1.2 */
	margin-bottom: 0;
	text-transform: none;
}

.link1 {
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
	line-height: 1.2;
	/* LH/FS=48/40=1.2 */
	text-transform: none;
}

.section {
	font-weight: 400;
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	max-width: 1070px;
	margin: 40px 425px;
}

.section_livingroom {
	width: 100%;
	max-width: 1070px;
	min-height: auto;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 48px;
	letter-spacing: 0;
	margin-bottom: 0;
}

.image_livingroom {
	width: 1070px;
	width: 100%;
	height: auto;
	margin: 40px 0px;
	display: block;
	max-width: 1070px;
}

.text3 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 30px;
	/* LH/FS=30/16=1.875 */
	margin-bottom: 10px;
	text-transform: none;
	width: 100%;
	max-width: 1070px;
	margin-top: 40px;
	min-height: auto;
	margin-bottom: 40px;
}

.text4 p {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.4;
	/* LH/FS=28/20=1.4 */
	margin-bottom: 40px;
	margin-top: 40px;
	text-transform: none;
}

.section_krovato {
	font-weight: 400;
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 70px 315px;
	overflow: hidden;
	max-width: 1290px;
}

.caption {
	font-size: 40px;
	padding-right: 526px;
	padding-left: 526px;
	margin-bottom: 20px;
}

.krovato_content {
	padding: 10px 10px;
	background-color: #f6f5f3;
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin-top: 0;
	min-height: auto;
	margin-bottom: 0;
	font-size: 16px;
	box-sizing: border-box;
}

.krovato_content img {
	width: 100%;
	overflow: hidden;
	max-width: 170px;
	height: 170px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	margin-top: 0px;
}

.krovato_content-text {
	font-size: 26px;
	font-style: normal;
	text-align: center;
	font-weight: 400;
	line-height: 34px;
	margin-bottom: 20px;
	letter-spacing: 0;
	text-transform: none;
	width: 100%;
	max-width: 300px;
	margin-top: 0;
	min-height: auto;
	text-align: center;
	margin-bottom: 0;
}

.krovato_content-text1 {
	font-size: 16px;
	font-style: normal;
	margin-top: 0;
	text-align: center;
	line-height: 30px;
	margin-bottom: 0;
	letter-spacing: 0;
	text-transform: none;
	width: 100%;
	max-width: 300px;
	margin-top: 20px;
	min-height: auto;
	text-align: center;
	margin-bottom: 0;
}

.item_krovato {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 26px;
	margin-top: 10px;
	vertical-align: top;
	background-color: #f6f5f3;
}

.section_follow_on_instagram {
	width: 100%;
	box-sizing: border-box;
	margin: 70px 315px;
	overflow: hidden;
	max-width: 1920px;
	margin: 40px 0px;
	padding: 50px 30px 335px 30px;
	align-items: center;
	text-align: center;
}

.section_follow_on_instagram1 {
	width: 100%;
	max-width: 1920px;
	margin: 100px 30px 30px 30px;
	box-sizing: border-box;
}

.caption_follow_on_instagram {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	width: 100%;
	box-sizing: border-box;
	margin-top: 0;
	text-align: center;
	margin-bottom: 0;
	font-size: 50px;
	line-height: normal;
	letter-spacing: 0;
	text-transform: none;
	width: 100%;
	margin-bottom: 60px;
}

.item_image_follow_on_instagram {
	display: inline-block;
}

.content_follow_on_instagram {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 26px;
	margin-top: 10px;
	vertical-align: top;
	background-color: #f6f5f3;
}

.page {
	margin-bottom: 30px;
	max-height: 4000px;
}

.footer {
	font-size: 0;
	width: 100%;
	min-width: 1500px;
	display: inline-block;
	box-sizing: border-box;
	margin: 70px 315px;
	overflow: hidden;
	max-width: 1920px;
	margin: 20px 0px;
	padding: 10px 30px 35px 30px;
	text-align: center;
}

.footer a {
	text-transform: capitalize;
	font-size: 20px;
	font-style: italic;
	color: #0000ff;
}

.phone-list a {
	color: #d21e1e;
}

#some-id2 {
	font-family: "Cedarville Cursive family", sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	font-style: oblique;
	text-transform: lowercase;
	color: #dc143c;
}