/* ШРИФТИ */



@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1;
	color: #2b2929;
	background-color: #f8f8f8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}


.page {
	padding: 20px;
}

/* --------------------------------------- */

.header {
	gap: 30px;
}

[class*="__container"] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0px 15px;
}

.checkbox__input,
.payment-list__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.form__info-buyer,
.form__delivery,
.form__payment,
.form__comment {
	display: flex;
	flex-basis: 740px;
	align-items: flex-start;
	flex-direction: column;
	background-color: #fff;
	padding: 30px;
}


.work-time__map-button:hover,.menu-header__button:hover,.form__btn:hover {
	background-color: #ef9918;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 3px 0px 2px 3px rgba(0, 0, 0, 0.5);
}

/* -----------------top-header---------------------- */

.top-header {
	padding: 15px 0px;
	background: #F8F8F8;

}

.top-header__container {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.info__list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
}

.info__item {
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
}

.info__item:hover .info__link {
	text-shadow: 1px 1px 1px rgb(101, 99, 99);
	transition-duration: 0.5s;
	text-decoration: underline;
}

.consult {
	display: flex;
	justify-content: center;
	padding-left: 15px;
	gap: 30px;
}

.consult__info {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.consult__text {
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
}

.consult__list {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.consult__link {
	width: 30px;
	transition: all 0.3s;
}


.consult__link:hover {
	transform: scale(1.2);
}

.consult__img img {
	width: 100%;
}

.language {
	display: flex;
}

.language__list {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	color: #535353;
	background-color: #F8F8F8;
}


/* ------------menu-header--------------------- */

.menu-header {
	border-bottom: 2px solid #F8F8F8;
	background-color: #ffffff;
	padding: 25px 0px;
}

.menu-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.menu-header__img {
	max-width: 250px;
	width: 100%;
}


.menu-header__button {
	color: #fff;
	padding: 11px 20px;
	border-radius: 8px;
	background-color: #ffbc57;
	display: flex;
	align-items: center;
}

.menu-header__button span {
	width: 100%;
	font-size: 19px;
	line-height: 1.26;
}

.menu-header__button {
	transition: all 0.3s;
}

.menu-header__link span::before {
	content: "";
	background: url("../img/menu-catalog.svg") 0 0 no-repeat;
	width: 100%;
	overflow: hidden;
	width: 24px;
	height: 24px;
	vertical-align: top;
	margin: 0px 10px 0px 0px;
}

.menu-header__button:active {
	background-color: #e38c13;
}


.search-header {
	display: flex;
	justify-content: space-between;
	flex-basis: 421px;
	height: 50px;
	padding: 10px 15px;
	border: 1px solid #b1b1b1;
	border-radius: 8px;
	outline: none;
	transition: all 0.3s;
}

.search-header__input::placeholder {
	color: #b1b1b1;
	font-size: 16px;
	line-height: 1.875;
	
}

.search-header:hover {
	box-shadow: inset 1px 1px 5px 1px #949090;
	overflow: hidden;
}

.search-header__input {
	border-radius: 8px;
}

.search-header__input:focus {
	outline: none;
	
}

.search-header__icon {
	gap: 13px;
	flex: 0 0 23px;
}


.contacts-header {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}


.contacts-header__link-tel {
	border-radius: 50%;
	transition: all 0.2s;
}

.icon-tel img {
	width: 50px;
	max-width: 100%;
}

.contacts-header__link-tel:hover {
	transform: scale(1.08);
}

.box-phone-numbers__text {
	color: #535353;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}

.box-phone-numbers__text.box-phone-numbers__text--font-weight.box-phone-numbers__text--font-size {
	color: #2b2929;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
}

.box-phone-numbers__text.box-phone-numbers__text--font-weight.box-phone-numbers__text--font-size:hover {
	color: #FFBC57;
}

.contacts-header__link {
	display: flex;
	align-items: center;
	max-width: 24px;
	transition-duration: 0.4s;
}

.contacts-header__link:hover {
	transform: rotate(90deg);
}

.choice-header {
	display: flex;
}

.choice-header__list {
	display: flex;
	gap: 19px;
}

.choice-header__link {
	width: 50px;
	border-radius: 50%;
	transition: all 0.3s;
}

.choice-header__img img {
	width: 100%;
}

.choice-header__link:hover {
	transform: scale(1.03);
	background-color: #eeeae5;
}


/* -------------bottom-header----------------------- */

.bottom-header {
	background-color: #ffffff;
	padding: 18px 0px;
}

.bottom-header__container {
	display: flex;
	flex-wrap: wrap;
	row-gap: 15px;
	justify-content: space-between;
	color: #535353;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}

.bottom-header__list,
.bottom-header__nav-list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}



.bottom-header__item:hover,
.bottom-header__nav-item:hover {
	color: #FFBC57;
}


/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page__container {
	font-weight: 600;
	padding-top: 30px;
	padding-bottom: 70px;
	font-size: 20px;
	color: #2b2929;
}

.page__title-box:not(:last-child) {
	margin-bottom: 40px;
}

.page__title {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}

.form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	max-width: 740px;
	box-shadow: -3px 4px 15px 0 rgba(0, 0, 0, .06);
	border-radius: 8px;
}


.form >*:not(:last-child) {
	border-bottom: 5px solid #F8F8F8;
}

.form__sub-title {
   display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 30px;
}

.sub-title {
	font-size: 26px;
	line-height: 1.3;
   padding-top: 13px;
	padding-bottom: 13px;
}

.form__content {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 20px;
	margin-bottom: 20px;
}

.form__line {
	display: flex;
	gap: 10px;
	flex-basis: 325px;
}

.form__input {
	padding: 10px 20px;
	border: 1px solid #d1d5d5;
	border-radius: 8px;
	background-color: #fff;
	height: 50px;
}

.form__input:focus {
	box-shadow: inset 1px 1px 5px 1px #949090;
	outline: none;
}

.form__input::placeholder {
	color: #535353;
	font-size: 16px;
	line-height: 1.875;
	transition: opacity 0.8s;
}

.form__input:focus::placeholder {
	opacity: 0;
}


.choose {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
}

.checkbox {
	position: relative;
	cursor: pointer;
}

.checkbox__input:focus-visible+.checkbox__text {
	outline: 1px solid #fff;
	outline-offset: 5px;
}

.checkbox__input:checked+.checkbox__text::before {
	background: url("../img/form/checked.svg") 0 0 /100% no-repeat;
	border: 2px solid #f5bf69;
}

.checkbox__text {
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.checkbox__text::before {
	transition: all 0.3s;
	content: "";
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #d1d5d5;
}

/* ----------------form__delivery-------------------------- */

.form__delivery >*:not(:last-child) {
	margin-bottom: 30px;
}

.buttons-radio {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
}

.buttons-radio__label {
	width: 210px;
	height: 142px;
	flex-grow: 1;
	position: relative;
	border-radius: 8px;
	transition: all 0.3s;
}

.buttons-radio__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	padding: 17px;
	justify-content: center;
	text-align: center;
	border: 3px solid #F8F8F8;
	cursor: pointer;
	gap: 10px;
	font-weight: 400;
	transition: all 0.3s;
}

.buttons-radio__img img {
	max-width: 40px;
	height: 40px;
}

.buttons-radio__btn span {
	color: #535353;
	font-size: 15px;
	line-height: 1.46;
	
}

.buttons-radio__btn {
   color: #2b2929;
	font-size: 16px;
	line-height: 1.875;
}

.buttons-radio__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.buttons-radio__label:hover {
	outline: 3px solid #9e9e9e;
	box-shadow: 0 0 5px #514f4c;
}

.buttons-radio__label::after {
	content: "";
	flex-shrink: 0;
	overflow: hidden;
	position: absolute;
	top: 17px;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	width: 40px;
	height: 40px;
	transition: all 0.3s;
}

.buttons-radio__input:checked+.buttons-radio__label::after {
	visibility: visible;
	opacity: 1;
	background: url("../img/form/checked.svg") 0 0 /100% no-repeat;
}

.buttons-radio__input:checked+.buttons-radio__label {
	outline: 3px solid #f19a17;
	box-shadow: 1px 1px 8px 1px #f19a17;
	transform: scale(1.05);
}

.buttons-radio__input:checked+.buttons-radio__label .buttons-radio__img {
	visibility: hidden;
	opacity: 0;
}


/* ---------------work-time----------------------------- */

.work-time {
	display: flex;
	width: 680px;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
	flex-wrap: wrap;
	padding: 20px;
	border-radius: 8px;
	background-color: #f8f8f8;
}

.work-time__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}


.work-time__box img {
	width: 40px;
	height: 40px;
}

.work-time__text > * :not(:last-child) {
	margin-bottom: 5px;
}

.work-time__time {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
}

.work-time__location {
	font-size: 20px;
	line-height: 1.4;
}

.work-time__map-button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 13px 20px;
	background-color: #ffbc57;
	border-radius: 8px;
	color: #fff;
	width: 142px;
	transition: all 0.2s;
}

.work-time__map-button span {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.26;
}

.work-time__map-button img {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}


/* -----------------form__payment--------------------------- */

.payment-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
}

.payment-list__label {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.41;
	transition: all 0.3s;
}


.payment-list__label:hover {
	color: #ffbc57;
}

.payment-list__label:active {
	color: #e59927;
}

.payment-list {
	position: relative;
	cursor: pointer;
}

.payment-list__label::before {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/form/rb.svg") center/contain no-repeat;
	border-radius: 50%;
	flex-shrink: 0;
	transition: all 0.3s;
}

.payment-list__input:checked+.payment-list__label::before {
	background: url("../img/form/rb-checked.svg") center/contain no-repeat;
	border: 2px solid #f5bf69;
}

.payment-list__input:focus-visible+.payment-list__label {
	outline: 1px solid #fff;
	outline-offset: 5px;
}


.payment-list__icon {
	max-width: 48px;
	height: 32px;
}


/* ---------------form__comment------------- */

.form__comment>*:not(:last-child) {
	margin-bottom: 30px;
}

.form__textarea {
	min-height: 150px;
	padding: 10px 20px;
	border: 1px solid #D1D5D5;
	border-radius: 8px;
	resize: vertical;
	outline-color: #ffbc57;
	transition: all 0.3s;
}

.form__textarea::placeholder {
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
}

.form__textarea:focus {
	box-shadow: inset 1px 1px 8px 1px #ffbc57;
}


/* --------------form__btn------------------------------ */


.form__btn {
	display: flex;
	gap: 15px;
	padding: 8px 30px;
	max-width: 680px;
	width: 100%;
	align-self: center;
	border-radius: 8px;
	justify-content: center;
	background-color: #ffbc57;
	transition: all 0.3s;
}

.form__button {
	color: #fff;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.26;
}

/* ----------------footer-------------------------- */

.footer {
	background-color: #2a2929;
}

.footer__container {
	width: 100%;
	overflow: hidden;
	max-width: 1920px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
}

.footer__image {
	width: 100%;
	display: block;
	max-width: 1894px;
	max-height: 1px;
}

.footer__text {
	color: #b1b1b1;
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	line-height: 1.46;
}





