@use "sass:math";



@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");

@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1303;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	font-family: "Exo", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1;
	color: #fff;
	background-color: #000;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*=__container] {
	max-width: 1303px; //(1512-119-120+30)
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page {
	padding: 15px;
}

   $background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);

	@mixin box-before($position: absolute, $z-index: -1, $border-radius: 100%, $opacity: 0.3, $background: linear-gradient(90deg, rgba(151, 0, 255, 1) 0%, rgba(87, 255, 28, 1) 37%, rgba(255, 0, 0, 1) 67%, rgba(0, 56, 255, 1) 100%)) {
      position: $position;
		z-index: $z-index;
		border-radius: $border-radius;
		opacity: $opacity;
		background: $background;
	}

/* -------------header---------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@include adaptiveValue("height", 130, 87);
	z-index: 50;
	opacity: 0.8;
	background-color: #000;
}

.header__menu {}

.menu-header {
	&.header__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 60px;
		padding-bottom: 30px;
		gap: 10px 102px;

		@media (max-width: 1341.98px) {
			gap: 10px;
		}
	}

	&__logo {
		//.menu-header__logo
		font-family: "Exo 2", sans-serif;
		display: flex;
		flex-shrink: 0;
		font-size: 30px;
		font-weight: 400;
		line-height: 0.6;
		z-index: 2;
		letter-spacing: -3px;
		white-space: nowrap;
		cursor: pointer;
		@include adaptiveValue("font-size", 30, 16)
	}

	&__nav-list {   //.menu-header__nav-list
		display: flex;
		flex-wrap: wrap;
		gap: 10px 60px;

		@media(max-width: 1196.98px) {
			column-gap: 25px;
		}

		@media(max-width: 991.98px) {
			flex-direction: column;
			align-items: center;
			row-gap: 25px;
		}
	}

	&__nav-item {        //.menu-header__nav-item
	}

	&__link {       //.menu-header__link
		font-family: "Orbitron", sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		text-transform: uppercase;
		padding: 10px;
		transition: background-color 0.3s;

		@media(max-width: 991.98px) {
			font-size: 28px;
			font-weight: 600;
		}
	}

	@media (any-hover:hover) {
		&__link:hover {
			background-color: #6f00a9;
		}
	}
}

.menu-header__icon {      // .menu-header__icon
	@media(max-width: 991.98px) {
		& {          	// .menu-header__icon
			display: block;
			position: relative;
			height: 20px;
			width: 30px;
			flex-shrink: 0;
			z-index: 2;
		}

		&::before,
		&::after,
		& span {
			content: "";
			height: 3px;
			width: 100%;
			border-radius: 8px;
			position: absolute;
			left: 0;
			transition: all 0.3s;
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: translate(0px, -50%);
		}

		.menu-open &::before {
			transform: rotate(-45deg);
			top: 50%;
			margin-top: -1px;
		}

		.menu-open &::after {
			transform: rotate(45deg);
			bottom: 50%;
			margin-bottom: -1px;
		}

		.menu-open & span {
			transform: scale(0);
		}
	}

	display: none;
}

.consult {       //.menu-header__consult
	&.menu-header__consult {
		display: flex;
		gap: 19px;

		@media(max-width: 991.98px) {
			justify-content: center;
		}
	}

	&__link {      //.consult__link
		width: 20px;
		height: 20px;
		transition: transform 0.3s;

		@media (any-hover:hover) {
			&:hover {
				transform: scale(1.2);
			}
		}
	}

	img {      // .consult__icon
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
}

.burger-menu-header {        //.burger-menu-header
	@media(max-width: 991.98px) {
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 80%;
		height: 100%;
		background-color: #000000;
		opacity: 1;
		z-index: 1;
		overflow: auto;
		padding-top: 110px;
		padding-bottom: 30px;
	}

	&::before {
		/*страховка */
		content: "";
		position: fixed;
		opacity: 1;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 80%;
		height: 90px;
		background-color: #000000;
		z-index: 3;
	}

	.menu-open & {
		right: 0;
	}

	.menu-open &::before {
		right: 0;
	}

	display: none;
}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	padding-top: 151px;

	@media(max-width: 991.98px) {
		padding-top: 110px;
	}
}

/* ----------hero--------------*/
.hero {
	position: relative;
	overflow: hidden;

	&::before,
	&::after { //.hero::before, //.hero::after
		content: "";
		@include adaptiveValue("width", 480, 120);
		@include adaptiveValue("height", 480, 120);       
		@include box-before;
		filter: blur(100px);

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	&::before {          //.hero::before
		top: -114px;
		left: 0;
		animation: ellipse-1 15s linear infinite 2s;
	}

	&::after {         //.hero::after
		top: 255px;
		right: 0;
		animation: ellipse-2 15s linear infinite 2s;
	}

	@keyframes ellipse-1 {
		30% {
			top: -20%;
			left: 80%;
		}

		60% {
			top: 60%;
			left: 80%;
		}
	}

	@keyframes ellipse-2 {
		30% {
			bottom: -20%;
			right: 80%;
		}

		60% {
			top: -20%;
			right: 80%;
		}
	}
   
	&__container {           //.hero__container
		display: flex;
		position: relative;
		gap: 10px 58px;
		text-transform: uppercase;

		@media (max-width: 1341.98px) {
			column-gap: 10px;
		}

		@media (max-width: 991.98px) {
		padding-right: 0;
		padding-left: 0;
		}
	}

	&__content {          //.hero__content
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-top: 120px;
		padding-bottom: 160px;
		gap: 20px 10px;

		@media (max-width: 991.98px) {
			padding-top: 10px;
			padding-bottom: 10px;
			gap: 12px 10px;
		}
	}

	&__name {            //.hero__name 
		position: relative;
		display: inline-block;
		line-height: 1.11;
		letter-spacing: -1px;
		z-index: 10;
		@include adaptiveValue("font-size", 18, 14);

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 120%;
			height: 1px;
			background: $background;
			@media (max-width: 991.98px) {
			bottom: -4px;
			}
		}
	}

	&__title {            //.hero__title 
		font-weight: 700;
		line-height: 0.875;
		@include adaptiveValue("font-size", 80, 32);
	}

	&__text {              //.hero__text 
		line-height: 2.22;
		letter-spacing: -1px;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 18, 14);
	}

	&__button {           //.hero__button 
		display: inline-flex;
		position: relative;
		flex-grow: 0;
		max-width: 253px;
		min-height: 36px;
		padding: 15px 60px;
		gap: 10px;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-family: "Orbitron", sans-serif;
		font-weight: 900;
		line-height: 1;
		white-space: nowrap;
		text-transform: uppercase;
		background-color: #6f00a9;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .25);
		transition: background-color 0.5s;
		@include adaptiveValue("font-size", 20, 14);

		@media (any-hover:hover) {
			&:hover {
				background-color: #0b0045;
			}
		}
		@media (max-width: 991.98px) {
		max-width: 173px;
		padding: 8px 40px;
		}
	}
	&__moving-line {              //.hero__moving-line
	display: none;
		
		@media (max-width: 991.98px) {
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;
	}
	}
}

.bg-group {
	display: flex;
	flex: 0 1 100%;
	position: relative;
	justify-content: center;
	overflow: hidden;
	align-items: flex-end;
	z-index: 2;
		@media (max-width: 991.98px) {
		flex: 0 1 50%;
	}
	   @media (max-width: 354.98px) {
		display: none;
	}
	&__img--Pr {
		position: absolute;
		top: 20%;
		left: 5%;
		@include adaptiveValue("width", 110, 28);
		@include adaptiveValue("height", 136, 34);
		transform: rotate(-45deg);
		object-fit: contain;
		@media (max-width:991.98px) {
		transform: rotate(-15deg);
		}
	}

	&__img--Ae {
		position: absolute;
		right: 15%;
		top: 25%;
		object-fit: contain;
		@include adaptiveValue("width", 70, 20);
		@include adaptiveValue("height", 88, 28);
		transform: rotate(30deg);
		@media (max-width:991.98px) {
		transform: rotate(18deg);
		}
	}
		&::before {
			content: "";
			position: absolute;
			bottom: -10%;
			left: -5%;
			width: 315px;
			height: 377px;
			transform: rotate(5deg);
			background: url("../img/hero/lightning-left.webp") 0 0/100% no-repeat;
			object-fit: contain;
			z-index: -1;
			@media (max-width: 991.98px) {
		   @include adaptiveValue("width", 315, 97);
			@include adaptiveValue("height", 377, 109);
			bottom: 0px;
			right: 0px;
				}
	}
	
		&::after {
			content: '';
			background: url("../img/hero/lightning-right.webp") 0 0/100% no-repeat;
			object-fit: contain;
			width: 288px;
			height: 321px;
			position: absolute;
			bottom: -5%;
			right: 3%;
			z-index: -1;
			@media (max-width: 991.98px) {
			   & {
				display: none;
				}
			}
		}
		}

	.bg-group__image {            //.bg-group
		img {       
			object-fit: contain;
			//aspect-ratio: 376/508;
			@include adaptiveValue("width", 376, 177);
			@include adaptiveValue("height", 508, 260);
		}
	}

   .hero__box--adaptive {
		display: none;
	@media (max-width: 991.98px) {
		
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
	
	   &::before,
		&::after {        //.hero__box--adaptive::before, //.hero__box--adaptive::after
		content: "";
		@include box-before;
		@include adaptiveValue("width", 480, 120);
		@include adaptiveValue("height", 480, 120);
		border-radius: 100%;
		filter: blur(50px);
		}
	
		&::before {           //.hero__box--adaptive::before
			top: -114px;
			left: 0;
			animation: ellipse-1 15s linear infinite 2s;
		}
	
		&::after {              //.hero__box--adaptive::after
			top: 255px;
			right: 0;
			animation: ellipse-2 15s linear infinite 2s;
		}
		}
	   }
/* ----------about-me--------------*/

.about-me {
	position: relative;
	overflow: hidden;
	background: url("../img/webp/about-section.webp") center/cover;

	&__container {            //.about-me__container
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 120px;
		padding-bottom: 120px;
		row-gap: 60px;
		overflow: hidden;

		@media(max-width: 991.98px) {
			row-gap: 20px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

	&__content {         //.about-me__content
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 20px;
	}

	&__title-box {           //.about-me__title-box
		text-align: center;
		overflow: hidden;
		padding: 0 50px 20px 50px;
	}

	&__title {            //.about-me__title
		position: relative;
		font-weight: 700;
		line-height: 1.16;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 60, 24);

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: -10%;
			width: 120%;
			height: 1px;
			background: $background;
		}
	}

	&__text {               //.about-me__text
		text-align: center;
		line-height: 2.22;
		letter-spacing: -1px;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 18, 14);

		@media(max-width: 991.98px) {
			line-height: 2.14;
		}
	}

	&__box {
		display: none;

		@media(max-width: 991.98px) {
			display: flex;
		}
	}

	&__footer {          //.about-me__footer
		margin: 0 auto;

		@media(max-width: 991.98px) {
			display: none;
		}
	}

	&__list {              //.about-me__list
		display: flex;
		gap: 60px;
		align-items: center;
		justify-content: center;
		animation: show-items 15s linear infinite;
	}

	&__item {               //.about-me__item
		font-family: "Orbitron", sans-serif;
		font-weight: 500;
		line-height: 1.25;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		//min-width: fit-content;
		flex: 0 0 auto;
		@include adaptiveValue("font-size", 20, 14);

		&::after {
			display: inline-block;
			background: $background;
			content: "";
			height: 10px;
			width: 10px;
			border-radius: 50%;
			margin-left: 60px;
		}
	}

	@keyframes show-items {
		0% {
			transform: translateX(0%);
		}

		100% {
			transform: translateX(-50%);
		}
	}

	@media (any-hover: hover) {
		&__list:hover {
			animation-play-state: paused;
		}
	}
}


/* ----------page__portfolio--------------*/

.page__portfolio {}

.portfolio {
	position: relative;

	&__container {            //.portfolio__container
		padding-top: 150px;
		padding-bottom: 100px;
		display: flex;
		flex-direction: column;

		@media(max-width: 991.98px) {
			padding-top: 60px;
			padding-bottom: 50px;
		}

		&::before {
			position: absolute;
			content: "";
			background: url("../img/webp/bg-portfolio.webp") center / cover;
			top: 0;
			left: 0;
			right: 0px;
			bottom: 10%;
			opacity: 0.05; //0.07
			z-index: -1;
			width: 100%;
		}
	}

	&__box-title {
		overflow: hidden;
	}

	&__title {          //.portfolio__title
		display: inline-block;
		position: relative;
		font-family: "Exo", sans-serif;
		font-weight: 700;
		line-height: 1.16;
		text-transform: uppercase;
		margin-bottom: 120px;
		@include adaptiveValue("font-size", 60, 24);

		@media(max-width: 991.98px) {
			margin-bottom: 23px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 120%;
			height: 1px;
			background: $background;
		}
	}

	&__preview-list {        //.portfolio__preview-list
		display: flex;
		flex-shrink: 0;
		gap: 20px;
		padding-bottom: 20px;
		overflow-y: hidden;
		overflow-x: auto;

		@media(max-width: 991.98px) {
			gap: 2px;
		}
	}

	&__preview-link {          //.portfolio__preview-link
		display: grid;
		align-items: center;
		position: relative;
		text-align: center;
		grid-template-rows: 1fr;
		gap: 40px;
		cursor: pointer;

		@media(max-width: 991.98px) {
			gap: 20px;
		}

		&::before {
			position: absolute;
			content: "Play video";
			left: 20%;
			top: 50%;
			@include adaptiveValue("font-size", 40, 21);
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;
			opacity: 0;
			transition: 0.5s;
		}

		@media(any-hover:hover) {
			&:hover::before {
				opacity: 1;
				transform: translateY(20px);

				@media(max-width: 991.98px) {
					transform: translateY(10px);
				}
			}
		}
	}

	&__preview-img {              //.portfolio__preview-img
		border: 10px solid transparent;
		transition: all 0.5s;
		//img {
		//aspect-ratio: 1/1;
		@include adaptiveValue("width", 360, 193);
		@include adaptiveValue("height", 360, 193);
		object-fit: contain;
		//}
	}

	&__preview-title {          //.portfolio__preview-title
		font-family: "Exo", sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		transition: color 0.5s;
		@include adaptiveValue("font-size", 40, 14)
	}

	&__preview-button {                 //.portfolio__preview-button
		position: absolute;
		top: 30%;
		left: 38%;
		transition: transform 0.3s;

		img {
			@include adaptiveValue("width", 100, 53);
			@include adaptiveValue("height", 100, 53);
		}
	}

	@media (any-hover: hover) {
		&__preview-link:hover &__preview-button {
			transform: translateY(-30px);
		}
		&__preview-link:hover &__preview-img  {
		border-color: #6F00A9;
		}
	}

			@media(max-width: 991.98px) {
				transform: translateY(-10px);
			}
		}



/* ----------------footer-------------------------- */